{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %} Add Contact {{ block.super }}{% endblock %}
{% block content %}
<!-- base.html -->
<div class="container-fluid py-4">
   <div class="row">
        <div class="col-12 col-lg-8 m-auto">
          <form role="form" method="POST" autocomplete="off" class="multisteps-form__form mb-8">
            <!--single form panel-->
            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
              <h4 class="font-weight-bolder">{% if contact %}Edit {% else %} Add {% endif %} Contact</h4>
              <div class="multisteps-form__content">
                {% csrf_token %}
                <div class="row mt-3">
                  <div class="col-12 col-lg-12 mb-3 m-auto">
                    <h6 class="font-weight-bolder mb-0">Personal Information <span class="text-danger">*</span></h6>
                  </div>
                  {% render_form serializer %}
                </div>
                <div class="row mt-4">
                <div class="col-6 col-lg-6 m-auto text-end"></div>
                <div class="col-md-6 m-auto text-center text-md-end">
                  <a class="btn bg-gradient-secondary mb-0 js-btn-prev"  href="{% url 'contact_list' %}" title="Back">Back</a>
                  <button class="btn btn-md bg-gradient-primary ms-2 mb-0 js-btn-next" id="submitBtn" type="submit" title="Submit">Submit</button>
                </div>
              </div>
               
              </div>
            </div>
          
          </form>
      </div>
  </div>
  {% endblock %}
  {% block extra_js %}
  <script src="{% static 'assets/js/custom_button.js' %}"></script>
  {% endblock %}

  
  
  