<!-- add_contact.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} Add Contact {{ block.super }}{% endblock %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header font-weight-bolder">
          Contact List
        </div>
        <div class="table-responsive">
          <table class="table table-flush" id="datatable-search">
            <thead class="thead-light">
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contact Type</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Job Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for contact in contacts %}
                <td class="text-sm font-weight-normal">{{contact.name}}</td>
                <td class="text-sm font-weight-normal">{{contact.email}}</td>
                <td class="text-sm font-weight-normal">{{contact.phone_number}}</td>
                <td class="text-sm font-weight-normal">{{contact.contact_type}}</td>
                <td class="text-sm font-weight-normal">{{contact.job_title}}</td>
               
        
          </tr> 
              {% endfor %}
        
            </tbody>
          </table>
        </div>
   
  
{% block extra_js %}
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>


  const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
    searchable: true,
    fixedHeight: true
  });
</script>
{% endblock %}     
  
  {% endblock %}