{% extends 'base.html' %}
{% load static %}
{% block title %} Job Details {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
<style>
  span>p {
    margin-bottom: 0 !important;
  }
  div.defect-safed-text.mt-1.mb-2 > p {
    margin-bottom: 0 !important;
  }
  .accordion-button {
    background-color: #eff0f18a;
    color: #344767;
    padding: 10px 20px;
    border: none;
    border: 1px solid #ccc;
    outline: none !important;
  }

  .accordion-button[aria-expanded="true"] {
    background-color: #8fa0be66;
    border: 1px solid #ccc;
    outline: none !important;
  }

  .accordion-button:focus {
      z-index: 3;
      border-color: #ccc;
      outline: 0;
      box-shadow: var(--bs-accordion-btn-focus-box-shadow);
  }

  a[disabled]{
    opacity: 0.5 !important;
  }
</style>
{% if request.user.roles.name != 'customer_contact' %}
{% include "job_stw_rlo_actions.html" %}
{% endif %}
<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header pb-0">
          <div class="row mb-3 justify-content-between">
            <div class="col-6 d-flex align-items-center">
              <h4 class="mb-0">Job Details</h4>
              {% if job.status %}
              <div class="ps-2"> 
                <span class="badge 
                {% if job.status == 'planned' %}
                bg-gradient-info
                {% elif job.status == 'in-progress' %}
                bg-gradient-warning
                {% elif job.status == 'completed' %}
                bg-gradient-success
                {% endif %}">
                {{ job.get_status_display|title }}
                </span>
              </div>
              {% endif %}
            </div>
              <div class="col-6 text-end">
              {% include 'components/back_button.html' %}        
              {% if request.user|has_update_permission:"work_planning" %}
              {% if job.status == 'planned' %}
              <a href="#" class="btn bg-gradient-primary btn-sm mb-0 mx-2" data-bs-toggle="modal" data-bs-target="#startJobModal">
                  Start Job
              </a>
              <!-- Modal -->
              <div class="modal fade text-start" id="startJobModal" tabindex="-1" aria-labelledby="startJobModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="startJobModalLabel">Confirmations</h1>
                              <button type="button" class="btn-close ps-0 py-0 fs-3 text-dark mb-0" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                          Are you sure you want to start the job?<br>
                          As soon as you confirm, you will not be able to make any changes to the job. Once submitted, there is no way to reverse this process.
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn bg-gradient-secondary btn-sm mb-0 mx-2" data-bs-dismiss="modal">No</button>
                              <a href="{% url "start_job" job.customer_id.id job.id %}" class="btn bg-gradient-primary btn-sm mb-0 mx-2">Yes</a>
                          </div>
                      </div>
                  </div>
              </div>
              {% else %}
              <a href="#" class="btn bg-gradient-primary btn-sm mb-0 mx-2" disabled>
                  Start Job
              </a>
              {% endif %}

              {% if job.status == 'in-progress' or job.status == 'planned' %}
              <a href="#" class="btn bg-gradient-primary btn-sm mb-0 mx-2" data-bs-toggle="modal" data-bs-target="#markAsDoneModal">
                  Mark as Done
              </a>
              <!-- Modal -->
              <div class="modal fade text-start" id="markAsDoneModal" tabindex="-1" aria-labelledby="markAsDoneModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="modal-title fs-5" id="markAsDoneModal">Confirmations</h1>
                              <button type="button" class="btn-close ps-0 py-0 fs-3 text-dark mb-0" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              Do you really wish to designate this job as done?<br>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn bg-gradient-secondary btn-sm mb-0 mx-2" data-bs-dismiss="modal">No</button>
                              <a href="{% url "mark_as_complete" job.customer_id.id job.id %}" class="btn bg-gradient-primary btn-sm mb-0 mx-2">Yes</a>
                          </div>
                      </div>
                  </div>
              </div>
              {% else %}
              <a href="#" class="btn bg-gradient-primary btn-sm mb-0 mx-2" disabled>
                  Mark as Done
              </a>
              {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row mb-3">
            <!--Left view-->
            <div class="col-12 col-lg-4">
              <div class="row">
                <label class="ms-0">Team/members: </label><br>
                <ul class="ms-3 mb-0">
                {% if job.assigned_to_team %}
                {% for member in job.assigned_to_team.members.all %}
                <li>{{ member }} - <i>{{ member.email }}</i></li>
                {% endfor %}
                {% elif job.assigned_to_member %}
                {% for member in job.assigned_to_member.all %}
                <li>{{ member }} - <i>{{ member.email }}</i></li>
                {% endfor %}
                {% else %}
                <li>-</li>
                {% endif %}
                </ul>
              </div>
            </div>

            <!--mid view-->
            <div class="col-12 col-lg-4">
              {% if job.quotation.all %}
              {% for quotation in job.quotation.all %}
              {% if forloop.first %}
              <div class="col-12">
                <label class="ms-0">Site Address: </label><br>
                <span>{{ quotation.requirement_id.site_address.site_name|title }}</span><br>
                <span>{{ quotation.requirement_id.site_address.address }}, {{ quotation.requirement_id.site_address.town|title }}, {{ quotation.requirement_id.site_address.country|title }}</span><br>
                <span>{{ quotation.requirement_id.site_address.post_code }}</span>
              </div>
              {% endif %}
              {% endfor %}
              {% elif job.stw.all %}
              {% for stw in job.stw.all %}
              {% if forloop.first %}
              <div class="col-12">
                <label class="ms-0">Site Address: </label><br>
                <span>{{ stw.site_address.site_name|title }}</span><br>
                <span>{{ stw.site_address.address }}, {{ stw.site_address.town|title }}, {{ stw.site_address.country|title }}</span><br>
                <span>{{ stw.site_address.post_code }}</span>
              </div>
              {% endif %}
              {% endfor %}
              {% else %}
              <span>-</span>
              {% endif %}
            </div>

            <!--right view-->
            <div class="col-12 col-lg-4">
              <div class="col-12">
                <label class="ms-0">Start Date/Time</label><br>
                <span>{{ job.start_date |date:"d/m/Y - h:m A"}}</span>
              </div>
              <div class="col-12">
                <label class="ms-0">End Date/Time</label><br>
                <span>{{ job.end_date |date:"d/m/Y - h:m A"}}</span>
              </div>
            </div>
          
          </div>

          <div class="row mb-3">
            <label class="ms-0">Defects</label>
            <div class="accordion" id="accordion">
              {% if job.quotation.all %}
                {% for quotation in job.quotation.all %}
                  {% for defect in quotation.defect_id.all %}
                  <div class="accordion-item mb-3 shadow-md">
                    <div class="accordion-header fs-6">
                      <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{quotation.id}}{{ forloop.counter }}" aria-expanded="{% if forloop.parentloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                        <div class="col-7 d-flex" id="defectHeading">
                          <strong>{{ forloop.counter }} -</strong>&nbsp;<span>{{ defect.action|safe|truncatechars_html:50 }}</span>
                        </div>
                        <div class="col-5 text-end">
                          <span class="badge badge-sm bg-gradient-dark">{{ defect.get_defect_type_display }}</span>
                          <i class="fas fa-chevron-down mx-2" aria-hidden="true"></i>
                        </div>
                      </button>
                    </div>
                    <div id="collapse{{quotation.id}}{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.parentloop.first %}show {% endif %}"
                      data-bs-parent="#accordion{{ defect.id }}">
                      <div class="accordion-body">
                        <div class="row gap-2 mb-3" id="defectIntroduction">
                          <div class="col-12 text-sm">
                            <strong>Action: </strong><br>
                            <div class="defect-safed-text mt-1 mb-2">{{ defect.action|safe }}</div>
                          </div>
                          <div class="col-12 text-sm">
                            <strong>Description: </strong><br>
                            <div class="defect-safed-text mt-1 mb-2">{{ defect.description|safe }}</div>
                          </div>
                          <div class="col-12 text-sm">
                            <strong>Rectification Description: </strong><br>
                            <div class="defect-safed-text mt-1">{{ defect.rectification_description|safe }}</div>
                          </div>
                        </div>

                        <div class="row" id="defectSors">
                          {% for defectId, sorTableList in quotation.quotation_json.defectSorValues.items %}
                          {% if defect.id|stringformat:"s" == defectId %}
                          <div class="table-responsive">
                            <table class="table align-items-center">
                              <thead class="bg-default">
                                <tr class="text-sm">
                                  <th scope="col-auto" class="text-start">SOR Code </th>
                                  <th scope="col-auto" class="text-start">SOR Name </th>
                                  <th scope="col-auto" class="text-start">Category</th>
                                  <th scope="col-auto" class="text-start">Price(£)</th>
                                  <th scope="col-auto" class="text-start pe-2">Quantity</th>
                                  <th scope="col-auto" class="text-start pe-2">Total Price(£)</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for uniqueId, sorDict in sorTableList.items %}
                                  <tr id="{{ uniqueId }}">
                                    <td scope="col-auto" class="text-start">{{ sorDict.sor_items.reference_number }}</td>
                                    <td scope="col-auto" class="text-start">{{ sorDict.sor_items.name }}</td>
                                    <td scope="col-auto" class="text-start">{{ sorDict.sor_items.category_id }}</td>
                                    <td scope="col-auto" class="text-start">{{ sorDict.sor_items.price }}</td>
                                    <td scope="col-auto" class="text-start">{{ sorDict.quantity }}</td>
                                    <td scope="col-auto" class="text-start">{{ sorDict.total_price }}</td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                          {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endfor %}
              {% elif job.stw.all %}
                {% for stw in job.stw.all %}
                  {% for defect in stw.stwdefect_set.all %}
                  <div class="accordion-item mb-3 shadow-md">
                    <div class="accordion-header fs-6">
                      <button class="accordion-button py-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{stw.id}}{{ forloop.counter }}" aria-expanded="{% if forloop.parentloop.first %}true{% else %}false{% endif %}" aria-controls="collapse{{ forloop.counter }}">
                        <div class="col-7 d-flex" id="defectHeading">
                          <strong>{{ forloop.counter }} -</strong>&nbsp;<span>{{ defect.action|safe|truncatechars_html:50 }}</span>
                        </div>
                        <div class="col-5 text-end">
                          <span class="badge badge-sm bg-gradient-dark">{{ defect.get_defect_type_display }}</span>
                          <i class="fas fa-chevron-down mx-2" aria-hidden="true"></i>
                        </div>
                      </button>
                    </div>
                    <div id="collapse{{stw.id}}{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.parentloop.first %}show {% endif %}"
                      data-bs-parent="#accordion{{ defect.id }}">
                      <div class="accordion-body">
                        <div class="row gap-2 mb-3" id="defectIntroduction">
                          <div class="col-12 text-sm">
                            <strong>Action: </strong><br>
                            <div class="defect-safed-text mt-1 mb-2">{{ defect.action|safe }}</div>
                          </div>
                          <div class="col-12 text-sm">
                            <strong>Description: </strong><br>
                            <div class="defect-safed-text mt-1 mb-2">{{ defect.description|safe }}</div>
                          </div>
                          <div class="col-12 text-sm">
                            <strong>Rectification Description: </strong><br>
                            <div class="defect-safed-text mt-1">{{ defect.rectification_description|safe }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                {% endfor %}
              {% else %}
              <span>-</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}