<div class="container-fluid mt-4">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if '/details/' in request.path %}active{% endif %}" href="{% url 'job_detail' job.customer_id.id job.id %}">Job Details</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if '/site-packs/' in request.path %}active{% endif %}" href="{% url 'job_site_packs_detail' job.customer_id.id job.id %}">Site Packs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if '/rlo/' in request.path %}active{% endif %}" href="{% url 'job_rlo_detail' job.customer_id.id job.id %}">RLOs</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if '/po/' in request.path %}active{% endif %}" href="{% url 'job_po_detail' job.customer_id.id job.id %}">POs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>