{% extends 'base.html' %}
{% load static %}
{% block title %} Job List {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="row justify-content-between">
            <div class="col-6">
              <h4 class="mb-0">Jobs List</h4>
              {% include 'customer_info.html' %}
            </div>
            <div class="col-6 text-end">
              {% include 'components/back_button.html' %}
            </div>
          </div>

          <div class="row">
            
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="table-responsive">
            <table class="table table-hover text-dark" id="job-list">
              <thead class="thead-light">
                <tr>
                  <th>Reference Number</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Team</th>
                  {% if request.user|has_update_permission:"survey" or request.user|has_add_permission:"survey" or request.user|has_delete_permission:"survey" or request.user|has_view_permission:"survey" %}
                  <th class="custom-last-column">Actions</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody class="ml-4">
                {% for job in jobs %}
                <tr class="text-sm align-middle">
                  <td class="text-sm">
                    <a href="{% url 'job_detail' customer_data.id job.id %}"
                    class="text-decoration-none w-100 nav-link" >
                      {{ job }}
                    </a>
                  </td>
                  <td class="text-sm">
                    <a href="{% url 'job_detail' customer_data.id job.id %}"
                    class="text-decoration-none w-100 nav-link" >
                      {{ job.start_date|date:"d/m/Y" }}
                    </a>
                  </td>
                  <td class="text-sm">
                    <a href="{% url 'job_detail' customer_data.id job.id %}"
                    class="text-decoration-none w-100 nav-link" >
                      {{ job.end_date|date:"d/m/Y" }}
                    </a>
                  </td>
                  <td class="text-sm">
                    <a href="{% url 'job_detail' customer_data.id job.id %}"
                    class="text-decoration-none w-100 nav-link" >
                      {% if job.assigned_to_team %}
                      {% for member in job.assigned_to_team.members.all %}
                      {{ member }}{% if not forloop.last %},<br>{% endif %}
                      {% endfor %}
                      {% elif job.assigned_to_member %}
                      {% for member in job.assigned_to_member.all %}
                      {{ member }}{% if not forloop.last %},<br>{% endif %}
                      {% endfor %}
                      {% else %}
                      -
                      {% endif %}
                    </a>
                  </td>
                  {% if request.user|has_update_permission:"survey" or request.user|has_add_permission:"survey" or request.user|has_delete_permission:"survey" or request.user|has_view_permission:"survey" %}
                  <td class="align-middle">
                    <div class="dropstart ms-auto pe-0">
                      <a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-cog text-secondary" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2">
                        {% if request.user.roles.name == "projects_admin_(IT)" or requirement_instance.surveyor == request.user %}
                        {% if request.user|has_delete_permission:"fire_risk_assessment" %}
                        <a href="#" type="button" class="dropdown-item border-radius-md">
                          Delete
                        </a>
                        {% endif %}
                        {% endif %}
                      </ul>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script src="{% static 'assets/js/custom_convert.js' %}"></script>
{% endblock %}