{% extends 'base.html' %}
{% load static %}
{% block title %} STW Actions {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
{% include 'work_planning/work_action.html'%}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div>
              <h4 class="mb-0">Quotation Customer List</h4>
            </div>
          </div>
          {% include 'components/table_search.html' %}
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <table class="table table-flush text-dark" id="stw-customer-list">
              <thead class="thead-light">
                <tr>
                  <th>Customer Name</th>
                  <th>Company Name</th>
                  <th>Customer Email</th>
                  <th>Phone Number</th>
                  <th class="custom-last-column">Quotation Counts</th>
                </tr>
              </thead>
              <tbody class="ml-4"> 
                {% for query_obj  in customers_with_counts %}
                    <tr class="text-sm">
                      <td>
                        <a class="font-weight-bolder" href="{% url 'approved_quotation_list' query_obj.customer.id %}"  data-bs-toggle="tooltip" data-bs-original-title="Click For View Quotation">
                          {{ query_obj.customer.first_name|truncatechars:20|title }} {{ query_obj.customer.last_name|truncatechars:20|lower }}
                        </a>
                      </td>
                         
                      <td>{{query_obj.customer.company_name|default:''|title}}</td>
                      <td>{{query_obj.customer.email}}</td>
                      <td >{{query_obj.customer.phone_number|default:''}}</td>
                      <td >{{query_obj.quote_counts}}</td>
                     
                      
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
{% block extra_js %}
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script>
  if (document.getElementById('stw-customer-list')) {
    const dataTableSearch = new simpleDatatables.DataTable("#stw-customer-list", {
      searchable: true,
      fixedHeight: false,
      perPage: 25,
      perPageSelect: false,
    });

    const dataTableTop = document.querySelector('.dataTable-top');
    if (dataTableTop) {
      dataTableTop.parentNode.removeChild(dataTableTop);
    }

    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', function() {
      const searchText = searchInput.value.toLowerCase();
      dataTableSearch.search(searchText).draw();
    });

    // Highlight the currently selected page
    const pages = document.querySelectorAll('.dataTable-pagination .dataTable-page');
    pages.forEach(page => {
      page.addEventListener('click', function() {
        pages.forEach(p => p.classList.remove('selected'));
        page.classList.add('selected');
      });
    });
  }
</script>
{% endblock %}
