


{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %} STW Summary {{ block.super }}{% endblock %}
{% block content %}
{% include 'components/alert.html' %}
<div class="container-fluid my-3 py-3">
  <div class="row">
    <div class="col-lg-12">
        <!-- Card Basic Info -->
        <div class="card" id="basic-info">
            <div class="card-header">
              <h5>STW Summary</h5>
              {% include 'customer_info.html' %}
            </div>
            <div class="card-body pt-0">
             <form role="form"  method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
                  <div class='row'>
                      {% csrf_token %}
                      {% render_form serializer %}
                  </div>
                 {% if serializer.data.document_paths and  stw_instance %}
                      {% for document in serializer.data.document_paths %}
                          <div class="col-lg-12">
                              <div style="position: relative;">
                              <a href="{{ document.presigned_url }}" download>
                                  <span class="text-sm me-2">{{ document.filename }}</span>
                              </a>
                              <a href="#" class="delete-icon" onclick="CustomconfirmDelete('{{stw_instance.id}}{{stw_instance.id}}  {{document.id}}',
                                      'Are you sure you want to delete this STW requirement document?','The STW requirement document has been deleted successfully.',
                                      '{% url 'remove_stw_document' stw_instance.id  document.id %}')" class="delete-link ms-2" data-title="{{ stw_instance.title}}">
                                      <i class="fas fa-times-circle text-danger">  </i> 
                                  </a>
                              </div>
                          </div>
                      {% endfor %}
                  {% endif %}
                <button class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2">Save</button>
                <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'customer_stw_list' customer_id %}">Back</a>
            
              </form>
              {% include 'components/loader.html' %}
        </div>
    </div>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/custom_country.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
{% if stw_instance %}
<script>
  // Get the input element with the name attribute "RBNO"
  var rbnoInput = document.querySelector('input[name="RBNO"]');
  // Check if the input value is not empty
  if (rbnoInput.value) {
    // If it's not empty, disable the input
    rbnoInput.disabled = true;
  } else {
    // If it's empty, enable the input
    rbnoInput.disabled = false;
  }
  // Get the input element with the name attribute "RBNO"
  var UPRNInput = document.querySelector('input[name="UPRN"]');
  // Check if the input value is not empty
  if (UPRNInput.value) {
    // If it's not empty, disable the input
    UPRNInput.disabled = true;
  } else {
    // If it's empty, enable the input
    UPRNInput.disabled = false;
  }

</script>
{% endif %}

{% endblock %}