<!-- add_customer.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} STW List {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div>
              <h5 class="mb-0">STW List</h5>
            </div>
            <div class="ms-auto my-auto mt-lg-0 mt-4">
            <a href="{% url 'stw_customers_list' %}" class="btn bg-gradient-secondary btn-sm mb-0" style="float: left;">Back</a>
              {% if request.user|has_add_permission:"survey" %}
                <!-- Show the "Add" button only if the user has the 'can_create_data' permission for 'work planning' module -->
                <a href="{% url 'customer_stw_add' customer_id %}" class="btn bg-gradient-primary btn-sm mb-0"  style="float: right;">+&nbsp; New STW</a>
              {% else %}
                <!-- The user doesn't have the permission, so don't show the "Add" button -->
              {% endif %}
              <button id="createJobButton" class="btn bg-gradient-primary btn-sm mb-2 mx-2" disabled>+&nbsp;Add Job</button>
            </div>
          </div>
          
          {% include 'components/table_search.html' %}
        </div>
        <div class="card-body px-0 pb-0">
         <div class="table-responsive">
            <table class="table table-flush text-dark" id="stw-list">
              <thead class="thead-light">
                <tr>
                <th class="custom-last-column"></th><!-- Add an empty th for the checkbox column -->
                  <th>STW Action</th>
                  <th>STW Description</th>
                  <th>RBNO</th>
                  <th>UPRN</th>
                  <th>STW Status</th>
                  <th>Created Date</th>
                  {% if request.user|has_update_permission:"survey" or request.user|has_add_permission:"survey" or request.user|has_delete_permission:"survey" or request.user|has_view_permission:"survey" %}
                  <th class="custom-last-column">Actions</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody class="ml-4"> 
                {% for stw in stw_requirements %}
                <tr class="text-sm">
                    <td class="text-sm">
                        <input type="checkbox" name="stw_checkbox" value="{{ stw.id }}">
                      </td>
                  <td class="text-sm">{{stw.action|default:''|truncatechars:30|title}}</td>
                  <td class="text-sm">{{stw.description|default:''|truncatechars:30|title}}</td>
                  <td class="text-sm">{{stw.RBNO}}</td>
                  <td class="text-sm">{{stw.UPRN}}</td>
                  <td class="text-sm">{{stw.status}}</td>
                  <td class="text-sm">{{stw.created_at|date:"d/m/Y"}}</td>

                  {% if request.user|has_update_permission:"survey" or request.user|has_add_permission:"survey" or request.user|has_delete_permission:"survey" or request.user|has_view_permission:"survey" %}
                  <td>
                      <div class="dropstart ms-auto pe-0">
                       <a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-secondary" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2">

                            {% if request.user|has_view_permission:"survey" %} 
                                <li>
                                  <a href="{% url 'customer_stw_view' customer_id stw.pk %}" class="dropdown-item border-radius-md">
                                    View
                                  </a>
                                </li>
                              {% endif %}

                          {% if request.user|has_update_permission:"survey" %}
                        <li>
                          <a href="{% url 'customer_stw_edit' customer_id stw.pk %}" class="dropdown-item border-radius-md">
                            Edit
                          </a>
                        </li>
                          {% endif %}

                        {% if request.user|has_delete_permission:"survey" %}
                        <li>
                          <a href="#" type="button" class="dropdown-item border-radius-md" 
                            onclick="CustomconfirmDelete({{stw.id}}, 'Are you sure you want to delete this STW Requirement?','The STW Requirement has been deleted successfully.','{% url 'customer_stw_delete' customer_id stw.id %}')">
                            Delete</a>
                        </li>
                          
                        {% endif %}
                      </ul>
                    </div>
                   </td>

                   {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 
{% block extra_js %}
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script>
  if (document.getElementById('stw-list')) {
  const dataTableSearch = new simpleDatatables.DataTable("#stw-list", {
    searchable: true,
    fixedHeight: false,
    perPage: 25,
    perPageSelect: false,
  });

  const dataTableTop = document.querySelector('.dataTable-top');
  if (dataTableTop) {
    dataTableTop.parentNode.removeChild(dataTableTop);
  }
  const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', function() {
      const searchText = searchInput.value.toLowerCase();
      dataTableSearch.search(searchText).draw();
    });
}



 document.addEventListener("DOMContentLoaded", function () {
    const createJobButton = document.getElementById("createJobButton");
    const stwCheckboxes = document.querySelectorAll('input[name="stw_checkbox"]');
    
    // Function to check if at least one checkbox is selected
    function updateCreateJobButton() {
      const atLeastOneSelected = Array.from(stwCheckboxes).some(checkbox => checkbox.checked);
      createJobButton.disabled = !atLeastOneSelected;
    }


     // Function to handle checkbox change and allow only a single checkbox to be selected
  function handleCheckboxChange(checkbox) {
    stwCheckboxes.forEach(cb => {
      if (cb !== checkbox) {
        cb.checked = false;
      }
    });
    updateCreateJobButton();
  }
    
    // Add event listeners to checkboxes
  stwCheckboxes.forEach(checkbox => {
    checkbox.addEventListener("change", () => {
      handleCheckboxChange(checkbox); // Handle checkbox change
      updateCreateJobButton(); // Update the "Add Job" button
    });
  });
    
    // Initial check
    updateCreateJobButton();

    // Add an onclick event listener to the createJobButton button
    createJobButton.addEventListener("click", function() {
      // Get the stw_id of the checked checkbox
      const stwId = Array.from(stwCheckboxes).filter(checkbox => checkbox.checked)[0].value;

      // Construct the redirect URL with the stw_id
      const redirectUrl = `/work_planning/stw_job/add/${stwId}/`;

      // Redirect the user to the redirect URL
      window.location.href = redirectUrl;
  });
  });


</script>



{% endblock %}     