{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link id="pagestyle" href="{% static '/assets/css/slider.css' %}" rel="stylesheet" />
{% endblock %}
{% load rest_framework %}
{% block title %}STW view{{ block.super }}{% endblock %}
{% block content %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
  <div class="row align-items-center mb-2">
    <div class="col-lg-12 col-sm-8">
        <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'customer_stw_list' customer_id %}">Back</a>
        <a class="btn bg-gradient-primary btn-sm float-end mt-2 mb-0 mx-2" href="">+&nbsp;Add Defects</a>
    </div>
</div>

  <div class="card h-100 mt-4 mb-3">
    <div class="card-header pb-0">
      <h5> STW View </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-body p-0">
                    <strong class="text-dark text-sm mt-2">Action:</strong>
                    <p class="text-sm mt-2" style="text-align: justify;">
                        {{ stw_instance.action }}
                    </p>
                    
                    <strong class="text-dark text-sm mt-2">Description:</strong>
                    <p class="text-sm mt-2" style="text-align: justify;">
                        {{ stw_instance.description }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header pb-0">
                </div>
                <div class="card-body p-3">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr class="text-sm">
                        <td><strong>RBNO:</strong></td>
                        <td class="text-warp"> {{ stw_instance.RBNO }}</td>
                      </tr>
                      <tr class="text-sm">
                        <td><strong>UPRN:</strong></td>
                        <td class="text-warp ">  {{stw_instance.UPRN }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header pb-0">
                </div>
                <div class="card-body p-3">
                  <table class="table align-items-center mb-0">
                    <tbody>
                      <tr class="text-sm">
                        <td><strong>Created Date:</strong></td>
                        <td class="text-warp"> {{ stw_instance.created_at |date:"M d, Y" }}
                        </td>
                      </tr>
                      <tr class="text-sm">
                        <td><strong>Status:</strong></td>
                        <td class="text-warp">{{ stw_instance.status }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

    
        <!-- Table for RBNO, UPRN, Created Date, and Status -->
        {% comment %} <div class="row mt-3">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-flush text-dark">
                      <thead class="thead-light text-sm">
                        <tr>
                            <th class="text-secondary">RBNO</th>
                            <th class="text-secondary">UPRN</th>
                            <th class="text-secondary">Created Date</th>
                            <th class="text-secondary">Status</th>
                        </tr>
                    </thead>
                    <tbody class="ml-4">
                        <tr class="text-sm">
                            <td class="text-sm">{{ stw_instance.RBNO }}</td>
                            <td class="text-sm">{{stw_instance.UPRN }}</td>
                            <td class="text-sm">{{ stw_instance.created_at }}</td>
                            <td class="text-sm">{{ stw_instance.status }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div> {% endcomment %}

      

{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/custom_country.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>




  
{% endblock %}