<div class="card h-100">
    <div class="card-header  pb-0">
        <div class="row">
            <div class="col-6"><h5 class="mb-0">STW Actions</h5></div>
            <div class="col-6 text-end">{% include 'components/back_button.html' %}</div>
        </div>
      </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class=" product-sticky">
                  <div id="carouselExampleCaptions" class="carousel slide ecomm-prod-slider" data-bs-ride="carousel">
                    <div class="carousel-inner bg-light rounded">
                        {% for item in document_paths %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="zoomable-media">
                                {% if item.is_image %}
                                <img src="{{ item.presigned_url }}" class="d-block zoomable-image" alt="Product Image">
                                <div class="zoom-controls">
                                    <i class="fas fa-plus zoom-in-button m-2"></i>
                                    <i class="fas fa-minus zoom-out-button  mx-2"></i>
                                    <i class="fas  fa-sync-alt reset-button  mx-2"></i>
                                    
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <ol class="carousel-indicators position-relative product-carousel-indicators my-sm-3 mx-0 mt-0">
                        {% for item in document_paths %}
                        {% if item.is_image %}
                        <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="w-25 h-auto {% if forloop.first %}active{% endif %}">
                            <img src="{{ item.presigned_url }}" class="d-block wid-100 rounded  border me-4" alt="Product media">
                        </li>
                        {% endif %}
                        
                        {% endfor %}
                    </ol>
                </div>
                
                </div>
              </div>
            <!-- STW Requirement and Customer Details -->
            <div class="col-lg-7">
                <div class="card-body p-0">
                    <b>Action</b>
                    <div class="text-wrap row" style="text-align: justify;">
                        {{ stw_instance.action|safe}}
                    </div>
                    <b>Description</b>
                    <div class="text-wrap row" style="text-align: justify;">
                        {{ stw_instance.description|safe}}
                    </div>
                    <hr class="horizontal gray-light">
                    <div class="row text-sm">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td><strong class="text-dark">Customer</strong></td>
                                    <td>{{ stw_instance.customer_id.customermeta.company_name|title|default:'-' }}</td>
                                </tr>
                                <tr>
                                    <td><strong class="text-dark">Email</strong></td>
                                    <td>{{ stw_instance.customer_id.customermeta.email|default:'-' }}</td>
                                </tr>
                                {% if stw_instance.UPRN %}
                                    <tr>
                                        <td><strong class="text-dark">UPRN</strong></td>
                                        <td>{{ stw_instance.UPRN }}</td>
                                    </tr>
                                {% endif %}
                                {% if stw_instance.RBNO %}
                                    <tr>
                                        <td><strong class="text-dark">Job Number</strong></td>
                                        <td>{{ stw_instance.RBNO }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td><strong class="text-dark">Site Address</strong></td>
                                    <td>
                                        {{ stw_instance.site_address.site_name|default:'-'|truncatechars:20 }},
                                        {{ stw_instance.site_address.address|default:'-'|truncatechars:20|title }},
                                        {{ stw_instance.site_address.town|default:'-'|title }},
                                        {{ stw_instance.site_address.county|default:'-'|title }},
                                        {{ stw_instance.site_address.country|default:'-'|title }},
                                        {{ stw_instance.site_address.post_code|default:'-' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong class="text-dark">Building Name</strong></td>
                                    <td>{{ stw_instance.building_name}}</td>
                                </tr>
                                <tr>
                                    <td><strong class="text-dark">Postcode</strong></td>
                                    <td>{{ stw_instance.postcode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>