<!-- teams.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} Teams {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}


<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div>
              <h5 class="mb-0">Team List</h5>
            </div>
            <div class="ms-auto my-auto mt-lg-0 mt-4">
              <a class="btn bg-gradient-primary btn-sm float-end mt-2 mb-3" href="{% url 'team_add' %}">+&nbsp;New Team</a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-0">
          <!-- Teams Table -->
          <div class="table-responsive">
            <table class="table table-flush text-dark" id="teams-list">
              <thead class="thead-light">
                <tr>
                  <th>Team Name</th>
                  <th>Members Count</th>
                  {% if request.user|has_update_permission:"survey" or request.user|has_add_permission:"survey" or request.user|has_delete_permission:"survey" or request.user|has_view_permission:"survey" %}
                  <th class="custom-last-column">Actions</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for team in teams %}
                <tr>
                  <td class="text-sm">{{ team.team_name }}</td>
                  <td class="text-sm">{{ team.members.count }}</td>
                  <td>
                    {% if request.user|has_update_permission:"survey" or request.user|has_add_permission:"survey" or request.user|has_delete_permission:"survey" or request.user|has_view_permission:"survey" %}
                      <div class="dropstart ms-auto pe-0">
                        <a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-ellipsis-h text-secondary" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2">
                          {% if request.user|has_view_permission:"survey" %}
                            <li>
                              <a href="{% url 'team_detail' team.id %}" class="dropdown-item border-radius-md">View</a>
                            </li>
                          {% endif %}
                          {% if request.user|has_update_permission:"survey" %}
                            <li>
                              <a href="{% url 'team_edit' team.id %}" class="dropdown-item border-radius-md">Edit</a>
                            </li>
                          {% endif %}
                          {% if request.user|has_delete_permission:"survey" %}
                            <li>
                              <a href="#" type="button" class="dropdown-item border-radius-md" 
                                onclick="CustomconfirmDelete({{team.id}}, 'Are you sure you want to delete this Team?','The Team has been deleted successfully.','{% url 'team_delete' team.id %}')">
                                Delete
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script>
if (document.getElementById('teams-list')) {
    const dataTableSearch = new simpleDatatables.DataTable("#teams-list", {
      searchable: true,
      fixedHeight: false,
      perPage: 10,
    });

  
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', function() {
        const searchText = searchInput.value.toLowerCase();
        dataTableSearch.search(searchText).draw();
    });

}
</script>
{% endblock %}