<div class="d-flex flex-wrap">
    <div class="dropdown d-inline me-2">
    <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle " data-bs-toggle="dropdown" id="statusDropdown" >
        Status
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="statusDropdown" data-popper-placement="left-start">

        {% for status in status_values %}
        <li>
        <a class="dropdown-item border-radius-md" href="#" onclick="applyFilter('status', '{{ status.0 }}')">{{ status.1 }}</a>
        </li>
    {% endfor %}
    <li><hr class="horizontal dark my-2"></li>
    <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('status')">Remove Filter</a></li>

    </ul>
    </div>
    <!-- priority list filter-->
    <div class="dropdown d-inline me-2">
        <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle " data-bs-toggle="dropdown" id="priorityDropdown">
            Priority
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="priorityDropdown" data-popper-placement="left-start">

        {% for priority in priority_list %}
        <li>
                 <a class="dropdown-item border-radius-md" href="#" onclick="applyFilter('priority', '{{ priority.0 }}')">{{ priority.1 }}</a>
        </li>
        {% endfor %}
        <li><hr class="horizontal dark my-2"></li>
       <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('priority')">Remove Filter</a></li>
    
        </ul>
        </div>

        <!-- Module list filter-->
        <div class="dropdown d-inline me-2">
            <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle " data-bs-toggle="dropdown" id="moduleDropdown">
                Module
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="moduleDropdown" data-popper-placement="left-start">

                {% for module in module_list %}
                <li>
                    <a class="dropdown-item border-radius-md" href="#" onclick="applyFilter('module', '{{ module }}')">{{ module }}</a>
                </li>
                {% endfor %}
                <li><hr class="horizontal dark my-2"></li>
                <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('module')">Remove Filter</a>
                </li>
            </ul>
        </div>
    <!-- Assigned list filter-->
    <div class="dropdown d-inline me-2">
        <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle " data-bs-toggle="dropdown" id="assigned_toDropdown">
             Assigned To
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="assigned_toDropdown" data-popper-placement="left-start">
            {% for assigned_user in assigned_to_users %}
            <li>
                <a class="dropdown-item border-radius-md" href="#" onclick="applyFilter('assigned_to', '{{ assigned_user }}')">{{ assigned_user }}</a>
            </li>
            {% endfor %}
            <li><hr class="horizontal dark my-2"></li>
                <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('assigned_to')">Remove Filter
            </a></li>

       </ul>
    </div>
    <!--  Date Range list filter-->
    <div class="dropdown d-inline me-2">
        <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" id="dateRangeDropdown">
          Date Range
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-start px 8 py 8" aria-labelledby="dateRangeDropdown" data-popper-placement="left-start">
            <li>
                <input class="form-control datepicker" placeholder="Date Range" type="text" id="dateRangeInput" onfocus="focused(this)" onfocusout="defocused(this)" style="width: 200px;"> <!-- Increase the width here -->
            </li>
          <li><hr class="horizontal dark my-3"></li>
          <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('dateRange')">Remove Filter</a></li>
        </ul>
      </div>
      
    <!--end of filter-->
    <a href="" class="btn bg-gradient-secondary me-3 float-right" onclick="clearAllFilters()">
        Clear Filters
    </a>
    </div>