{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %} Add ToDo Task {{ block.super }}{% endblock %}
{% block content %}
<!-- base.html -->
<div class="container-fluid py-4">
   <div class="row">
        <div class="col-12 col-lg-8 m-auto">
          <form role="form" method="POST" autocomplete="off" class="multisteps-form__form mb-8">
            <!--single form panel-->
            <div class="card multisteps-form__panel p-3 border-radius-xl bg-white js-active" data-animation="FadeIn">
              <h5 class="font-weight-bolder">Add Task</h5>
              <div class="multisteps-form__content">
                {% csrf_token %}
                <div class="row mt-3">
                {% render_form serializer %}
                </div>
                <div class="button-row d-flex mt-4">
                  <a class="btn bg-gradient-secondary mb-0 js-btn-prev" href="{% url 'contact_list' %}" title="Back">Back</a>
                  <button class="btn bg-gradient-primary ms-auto mb-0 js-btn-next" type="Submit" title="Submit">Submit</button>
                </div>
              </div>
            </div>
          
          </form>
      </div>
  </div>
  {% endblock %}
  {% block extra_js %}
  <script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
  <script src="{% static 'assets/js/custom_country.js' %}"></script>
  {% endblock %}