{% extends "assign_job/member_calendar.html" %}
{% block title %}Fullcalendar{% endblock title %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block content %}
<div class="col-md-12">   
    {% comment %} <a class="btn bg-danger btn-sm float-end mt-2 mb-3 mx-2" href="{% url 'event_add' %}">Add Event</a>  {% endcomment %}
    <div id='calendar'></div> 
        </div>
    </div>
    
    <a class="btn bg-danger btn-sm float-end mt-2 mb-0 mx-2 text-white" id="assignJobButton" onclick="viewEvents()" style="border-radius:4px;font-weight:bold;padding-left:20px; padding-right:20px;">Assign Job</a> 
    <a class="btn btn-sm float-end mt-2 mb-4 text-white" href="{% url 'job_customers_list' %}" style="border-radius:4px; font-weight:bold;padding-left:20px; padding-right:20px; background-color:	#708090">Back</a>

</div>
<script>
    function viewEvents() {

      const currentUrl = window.location.href; 
      console.log(currentUrl); 
      const match = currentUrl.match(/job_id=(\d+)$/);
      
      // Check if a match is found
      if (!match || match.length < 2) {
        alert("Could not extract the last integer value from the URL.");
        return;
      }
  
      const job_id = match[1];
      console.log(job_id)
  
     
     
  
      // Use the job_id in the URL for the redirect
      const redirectUrl = `/work_planning/stw/job_schedule/?job_id=${job_id}`;
      window.location.href = redirectUrl;
    }
    
  </script>
{% endblock content %} 




