{% extends "assign_job/member_calendar.html" %}
{% block title %}Fullcalendar{% endblock title %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block content %}
<div class="col-md-12">   
    <a class="btn bg-danger btn-sm float-end mt-2 mb-3 mx-2" href="{% url 'event_add' %}">Add Event</a> 
    <div id='calendar'></div> 
        </div>
    </div>
    
    <a class="btn bg-danger btn-sm float-end mt-2 mb-0 mx-2" id="assignJobButton" href="{% url 'job_schedule' %}">Assign Job</a> 
    <a class="btn bg-danger btn-sm float-end mt-2 mb-4" href="{% url 'job_assign_stw' %}">Back</a>

</div>
{% endblock content %} 