{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %} Assign Job {{ block.super }}{% endblock %}
{% block content %}
  <!-- Your existing content -->
<div class="container-fluid my-3 py-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" id="basic-info">
          <div class="card-header">
            <h5>Assign Job</h5>
          </div>
          <div class="card-body pt-0">
            <form role="form" method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
              <div class="row">
                <div class="col-12">
                  {% csrf_token %}
                {% render_form serializer %} 
                
                  </div>
                  
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- Card header -->
          <div class="card-header pb-0">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-0">RLO List</h5>
              </div>
            
            </div>
          
          </div>
          <div class="card-body px-0 pb-0">
           <div class="table-responsive">
              <table class="table table-flush text-dark" id="rlo-list">
                <thead class="thead-light">
                  <tr>
                    <th class="custom-last-column text-sm text-secondary"></th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Trade Type</th>
                    <th>Phone number</th>
                    <th>Created Date</th>
                  
                  </tr>
                </thead>
                <tbody class="ml-4">
                  {% for item in members %}
                    <tr class="text-sm">
                      <td class="text-sm">
                          <input type="checkbox" name="doc_checkbox" value="{{ item.members.id  }}"  data-job-id="{{ item.members.id }}">
                        </td>
                  <td class="text-sm">{{ item.name}}</td>
                  <td class="text-sm">{{ item.address}}</td>
                  <td class="text-sm">{{ item.email}}</td>
                  <td class="text-sm">{{ item.trade_type }}</td>
                  <td class="text-sm">{{ item.mobile_number }}</td>
                  <td class="text-sm">{{ item.created_at }}</td>
                </tr>
                  {% endfor %}
              </table>
              </table>
            </div>
          
          </div>
        </div>
          <!-- Add a button to show/hide the calendar -->
          <a class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2" onclick="$('#calendar').fullCalendar('open')">Assign Job</a>
          <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'stw_customers_list' %}">Back</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>

<script>
  if (document.getElementById('rlo-list')) {
    const dataTableSearch = new simpleDatatables.DataTable("#rlo-list", {
      searchable: true,
      fixedHeight: false,
      perPage: 25,
      perPageSelect: false,
    });
  
    const dataTableTop = document.querySelector('.dataTable-top');
    if (dataTableTop) {
      dataTableTop.parentNode.removeChild(dataTableTop);
    }
    const searchInput = document.getElementById('searchInput');
      searchInput.addEventListener('input', function() {
        const searchText = searchInput.value.toLowerCase();
        dataTableSearch.search(searchText).draw();
      });
  }
  </script>
  



{% endblock %}
