{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %} Assign Job {{ block.super }}{% endblock %}
{% block content %}
  <!-- Your existing content -->

  <div class="container-fluid my-3 py-3">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" id="basic-info">
          <div class="card-header">
            <h5>Assign Job</h5>
          </div>
          <div class="card-body pt-0">
            <form role="form" method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
              <div class="row">
                <div class="col-12">
                  {% csrf_token %}
                {% render_form serializer %} 
                
                  </div>
                  <div class="container-fluid my-3 py-3">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="card" id="basic-info">
                          <div class="card-header">
                            <h5>Select Members</h5>
                          </div>
                          <div class="card-body pt-0">
                            <!-- Display the data as a list -->
                            <div class="table-responsive">
                              <table class="table table-flush text-dark" id="contact-list">
                                <thead class="thead-light">
                                  <tr>
                                    <th class="custom-last-column text-sm text-secondary">Select</th>
                                    <th class="text-xs text-secondary text-left" >Name</th>
                                    <th class="text-xs text-secondary text-left">Address</th>
                                    <th class="text-xs text-secondary text-left">Email</th>
                                    <th class="text-xs text-secondary text-left">Trade Type</th>
                                    <th class="text-xs text-secondary text-left">Phone number</th>
                                    <th class="text-xs text-secondary text-left">Created Date</th>
                                  </tr>
                                </thead>
                                <tbody class="ml-4">
                                  {% for item in members %}
                                    <tr class="text-sm">
                                      <td class="text-sm">
                                          <input type="checkbox" name="doc_checkbox" value="{{ item.members.id  }}"  data-job-id="{{ item.members.id }}">
                                        </td>
                                      <td class="text-sm text-left">{{ item.name}}</td>
                                      <td class="text-sm text-left">{{ item.address}}</td>
                                      <td class="text-sm text-left">{{ item.email}}</td>
                                      <td class="text-sm text-left">{{ item.trade_type }}</td>
                                      <td class="text-sm text-left">{{ item.mobile_number }}</td>
                                      <td class="text-sm text-left">{{ item.created_at }}</td>
                                    </tr>
                                  {% endfor %}
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
               
          
        </div>
     
          <!-- Add a button to show/hide the calendar -->
          <a class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2">Assign Job</a>
          <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'stw_customers_list' %}">Back</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/custom_country.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>

<script>
  if (document.getElementById('contact-list')) {
    const dataTableSearch = new simpleDatatables.DataTable("#contact-list", {
      searchable: true,
      fixedHeight: false,
      perPage: 25,
      perPageSelect: false,
    });
  
    const dataTableTop = document.querySelector('.dataTable-top');
    if (dataTableTop) {
      dataTableTop.parentNode.removeChild(dataTableTop);
    }
    const searchInput = document.getElementById('searchInput');
      searchInput.addEventListener('input', function() {
        const searchText = searchInput.value.toLowerCase();
        dataTableSearch.search(searchText).draw();
      });
  }
  </script>
  



{% endblock %}
