{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Sor Detail{{ block.super }}{% endblock %}
{% block content %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
    <div class="row align-items-center mb-2">
        <div class="col-lg-12 col-sm-8">
            <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'sor_customers_list'%}">Back</a>
        </div>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 m-auto">
            <div class="card p-3 bg-white">
                <h5 class="mb-2">SOR Detail</h5>

                <div class="multisteps-form__content mt-2 row">
                    <!-- Display SOR details here -->
                    <div class="col-lg-12">
                        <p><strong>SOR CODE: </strong>{{ serializer.data.reference_number }}</p>
                        <p><strong>NAME: </strong>{{ serializer.data.name }}</p>
                        <p><strong>DESCRIPTION: </strong>{{ serializer.data.description }}</p>
                        <p><strong>UNITS: </strong>{{ serializer.data.units }}</p>
                        <p><strong>PRICE (£): </strong>{{ serializer.data.price }}</p>
                        <!-- Add more SOR fields here as needed -->
                    </div>
                </div>
                
            
            </div>
            <div class="row mt-4">
                <div class="col-6 col-lg-6 m-auto text-end"></div>
                <div class="col-md-6 m-auto text-center text-md-end">
                    {% comment %} <a class="btn bg-gradient-secondary btn-sm mb-0" href="{% url 'customer_sor_list' customer_id %}" title="Back">Back</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/custom_country.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const unitsSelect = document.querySelector('.form-group.col-6.units');
        const quantityPerBoxDiv = document.querySelector('.form-group.col-6.quantity_per_box');

        quantityPerBoxDiv.style.display = 'none';
        unitsSelect.style display = 'none';
    });
</script>
{% endblock %}
