{% load rest_framework %}
{% load static %}
<div class="form-group {% if style.custom_class %} {{style.custom_class}} {% else %}col-6  {% endif %}">
  {% if field.label %}
    <label {% if style.hide_label %}class="sr-only"{% endif %}>
      {{ field.label }} {% if field.required %} <span class="text-danger">*</span> {% endif %}
    </label>
  {% endif %}
 <select class="form-select custom-select" name="{{ field.name }}" id="choices-{{ field.name }}">
</select>
{% if field.help_text %}
<span class="help-block">{{ field.help_text|safe }}</span>
{% endif %}

{% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}
</div>

