<div class="form-group {% if style.custom_class %} {{style.custom_class}} {% else %}col-6  {% endif %}">

  <select name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control"{% endif %} {%if field.required %} required {% endif %} hidden multiple>
    {% if field.value is not None or field.value %}
      {% for value in field.value %}
        <option value="{{ value }}" selected>{{value}}</option>
      {% endfor %}
    {% endif %}
  </select>
  
  {% if field.help_text %}
    <span class="help-block">{{ field.help_text|safe }}</span>
  {% endif %}
</div>