{% load rest_framework %}
{% load static %}
<div class="form-group {% if style.custom_class %} {{style.custom_class}} {% else %}col-6  {% endif %}">
  {% if field.label %}
    <label {% if style.hide_label %}class="sr-only"{% endif %}>
      {{ field.label }} {% if field.required %} <span class="text-danger">*</span> {% endif %}
    </label>
  {% endif %}


    <select class="form-control" name="{{ field.name }}" id="choices-{{ field.name }}">
      {% if field.allow_null or field.allow_blank %}
        <option value="" {% if not field.value %}selected{% endif %}>--------</option>
      {% endif %}
      {% for select in field.iter_options %}
          {% if select.start_option_group %}
            <optgroup label="{{ select.label }}">
          {% elif select.end_option_group %}
            </optgroup>
          {% else %}
            <option value="{{ select.value }}" {% if select.value|as_string == field.value|as_string %}selected{% endif %} {% if select.disabled %}disabled{% endif %}>{{ select.display_text }}</option>
          {% endif %}
      {% endfor %}
    </select>
       
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}

  {% if field.help_text %}
    <span class="help-block">{{ field.help_text|safe }}</span>
  {% endif %}
</div>

<div class="customer-data" id="customer-details-card" style="display: none;">
  <div class="d-flex justify-content-between align-items-center customer-body">
    </div>
</div>

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>

<script>
 function initializeChoices(fieldId) {
    var element = document.getElementById(fieldId);
    if (element) {
      const example = new Choices(element, {});
    }
  }

  initializeChoices('choices-{{ field.name }}');

  // Move this part inside the if statement to avoid errors
  var choicesTags = document.getElementById('choices-tags');
  if (choicesTags) {
    var color = choicesTags.dataset.color;
    const example = new Choices(choicesTags, {
      delimiter: ',',
      editItems: true,
      
      maxItemCount: 5,
      removeItemButton: true,
      addItems: true,
      classNames: {
        item: 'badge rounded-pill choices-' + color + ' me-2'
      },
      noResultsText: 'No records found',
      noChoicesText: 'No records found',
      loadingText: 'Loading...',
    });
  }

  document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('choices-customer_id');
    const customerDetailsCard = document.getElementById('customer-details-card');

    // Function to fetch and display customer details
    function displayCustomerDetails(customerId) {
        fetch(`/customer/detail/${customerId}/`)
            .then(response => response.json())
            .then(data => {
                 const customerDetails = `
                  <div class = "row">
                  <div class="form-group  col-6">
                            <label for="email">First Name</label>
                            <input type="email" id="email" class="form-control" value="${data.data.first_name}" disabled>
                        </div>
                      <div class="form-group  col-6">
                          <label for="email">Last Name</label>
                          <input type="email" id="email" class="form-control" value="${data.data.last_name}" disabled>
                      </div>
                      <div class="form-group  col-6">
                          <label for="email">Email</label>
                          <input type="email" id="email" class="form-control" value="${data.data.email}" disabled>
                      </div>
                     <div class="form-group  col-6">
                            <label for="companyName">Company Name</label>
                            <input type="text" id="companyName" class="form-control" value="${data.data.company_name}" disabled>
                        </div>
                       
                      </div>
                     `;
                  const siteDropdown = `
                  <div class="form-group">
                    <label>
                      Site Address  <span class="text-danger">*</span> 
                    </label>
                      <select class="form-control choices__input" name="site_address" id="choices-site_address">
                          ${data.data.site_address.map(site => `<option value="${site.id}">${site.site_name}</option>`).join('')}
                      </select>
                  </div>
              `;
              customerDetailsCard.querySelector('.customer-body').innerHTML = customerDetails;

            // Check if the site selection dropdown container already exists
            let siteDropdownContainer = customerDetailsCard.querySelector('.site-dropdown');

            // If the siteDropdownContainer doesn't exist, create it
          if (!siteDropdownContainer) {
              siteDropdownContainer = document.createElement('div');
              siteDropdownContainer.className = 'site-dropdown col-6';  // Add col-6 class here

                          // Set site selection dropdown HTML
                          siteDropdownContainer.innerHTML = siteDropdown;

                // Append the site selection dropdown container to the customer details card
                customerDetailsCard.appendChild(siteDropdownContainer);

                // Initialize Choices dropdown
                initializeChoices('choices-site_address');
            }

            // Show the customer details card
            customerDetailsCard.style.display = 'block';

            // Move this part inside the if statement to ensure it's executed after the Choices dropdown is initialized
            var choicesTags = document.getElementById('choices-site_address');
            if (choicesTags) {
                var color = choicesTags.dataset.color;
                const example = new Choices(choicesTags, {
                    delimiter: ',',
                    editItems: true,
                    maxItemCount: 5,
                    removeItemButton: true,
                    addItems: true,
                    classNames: {
                        item: 'badge rounded-pill choices-' + color + ' me-2'
                    },
                    noResultsText: 'No records found',
                    noChoicesText: 'No records found',
                    loadingText: 'Loading...',
                });
            }
        })
            
    }

    // Event listener for select element change
    selectElement.addEventListener('change', function() {
        const selectedOption = selectElement.options[selectElement.selectedIndex];
        if (selectedOption.value !== '') {
            const customerId = selectedOption.value;
            displayCustomerDetails(customerId);
        } else {
            customerDetailsCard.style.display = 'none';
        }
    });

    // Trigger the 'change' event if preselected value exists
    if (selectElement.value !== '') {
        selectElement.dispatchEvent(new Event('change'));
    }
});

</script>
