{% load static %}
<div class="form-group {% if field.errors %}has-error{% endif %} {% if style.custom_class %} {{style.custom_class}} {% else %}col-6  {% endif %}">
    {% if field.label %}
      <label {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }} {% if field.required %} <span class="text-danger">*</span> {% endif %}</label>
    {% endif %}
  
    <input  name="{{ field.name }}" {% if style.input_type != "file" %}class="{{ field.name }} form-control"{% endif %} type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value is not None %}value="{{ field.value }}"{% endif %} {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %} autocomplete="off" {%if field.required %} required {% endif %}  data-input >

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  
    {% if field.help_text %}
      <span class="help-block">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>

  <script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Check if the datetimepicker element exists
      const fieldName = '{{ field.name }}';
      const fieldElement = document.querySelector(`[name="${fieldName}"]`);

      if (fieldElement) {
          // Get the value of the input field in dd/mm/yyyy format
          const fieldValue = fieldElement.defaultValue;
          
          // Check if window.location.pathname contains 'edit' or 'add'
          if (window.location.pathname.includes('edit')) {
              // If 'edit' is in the pathname, convert the date to mm/dd/yyyy format
              const dateParts = fieldValue.split('/');
              if (dateParts.length === 3) {
                  const dd = dateParts[0];
                  const mm = dateParts[1];
                  const yyyy = dateParts[2];
                  const convertedDateValue = `${mm}/${dd}/${yyyy}`;
                  const defaultDateValue = fieldValue ? new Date(convertedDateValue) : new Date();
                  flatpickr(fieldElement, {
                      allowInput: true,
                      defaultDate: defaultDateValue,
                      dateFormat: "d/m/Y", // Set your desired date format for display
                      //enableTime: true, // Enable time selection if needed
                  });
              }
          } else if (window.location.pathname.includes('add')) {
              // If 'add' is in the pathname, set defaultDateValue to fieldValue or current date
              const defaultDateValue = fieldValue ? fieldValue : new Date();
              flatpickr(fieldElement, {
                  allowInput: true,
                  defaultDate: defaultDateValue,
                  dateFormat: "d/m/Y", // Set your desired date format for display
                  //enableTime: true, // Enable time selection if needed
              });
          }
      }
  });
</script>



  
  