{% load static %}
<div class="form-group {% if field.errors %}has-error{% endif %} {% if style.custom_class %} {{style.custom_class}} {% else %}col-6  {% endif %}">
    {% if field.label %}
      <label {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }} {% if field.required %} <span class="text-danger">*</span> {% endif %}</label>
    {% endif %}
  
    <input  name="{{ field.name }}" {% if style.input_type != "file" %}class="{{ field.name }} form-control"{% endif %} type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value is not None %}value="{{ field.value }}"{% endif %} {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %} autocomplete="off" {%if field.required %} required {% endif %}  data-input >

    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  
    {% if field.help_text %}
      <span class="help-block">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>

  <script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
  <!-- <script>
    // Check if the datetimepicker element exists
    if (document.querySelector('.{{ field.name }}')) {
      // Get the default value for the datetime picker
      const defaultDateValue = '{{ field.value }}';
  
      // Convert the default value to a Date object (if available)
      const defaultDate = defaultDateValue ? new Date(defaultDateValue) : new Date();
  
      // Create the flatpickr date-time picker and set the default date to the default value or current date
      flatpickr('.{{ field.name }}', {
        allowInput: false,
        defaultDate: defaultDate
      });
    }
  </script> -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Check if the datetimepicker element exists
      const fieldElement = document.querySelector('.{{ field.name }}');
  
      if (fieldElement) {
        // Get the default value for the datetime picker
        const defaultDateValue = '{{ field.value }}';
  
        // Convert the default value to a Date object (if available)
        const defaultDate = defaultDateValue ? new Date(defaultDateValue) : new Date();
  
        // Create the flatpickr date-time picker and set the default date to the default value or current date
        flatpickr(fieldElement, {
          allowInput: true,
          defaultDate: defaultDate,
          dateFormat: "d/m/Y", // Set your desired date format
          enableTime: true, // Enable time selection if needed
        });
      }
    });
  </script>
  