{% load static %}
<div class="form-group {% if field.errors %}has-error{% endif %} {% if style.custom_class %} {{style.custom_class}} {% else %}col-6  {% endif %}">
    {% if field.label %}
      <label {% if style.hide_label %}class="sr-only"{% endif %}>{{ field.label }} {% if field.required %} <span class="text-danger">*</span> {% endif %}</label>
    {% endif %}
  
    <input  name="{{ field.name }}" {% if style.input_type != "file" %}class="form-control datepicker-{{ field.name }}"{% endif %} type="{{ style.input_type }}" {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %} {% if field.value is not None %}value="{{ field.value }}"{% endif %} {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %} autocomplete="off" {%if field.required %} required {% endif %} >
  
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    {% endif %}
  
    {% if field.help_text %}
      <span class="help-block">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>
  <script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>

  <script>
 // Get all elements with the class 'datepicker' using the Django template syntax
  const datepickerFields_{{ field.name }} = document.querySelectorAll('.datepicker-{{ field.name }}');

  datepickerFields_{{ field.name }}.forEach(datepickerField => {
    flatpickr(datepickerField, {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      enableTime: true, // Enable time selection
      time_24hr: true   // Display time in 24-hour format
      // You can add more options here
    });

    const defaultValue = new Date(); // Create a default date object here
    
    if (datepickerField.value) {
      const selectedDate = new Date(datepickerField.value);
      if (!isNaN(selectedDate)) {
        datepickerField._flatpickr.setDate(selectedDate);
      } else {
        datepickerField._flatpickr.setDate(defaultValue); // Set default value if selectedDate is invalid
      }
    } else {
      datepickerField._flatpickr.setDate(defaultValue); // Set default value if no selectedDate
    }
  });

</script>

    