{% load rest_framework %}
{% load static %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
   .ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* Add additional styles as needed */
    border: 1px solid #ccc; /* Add border */
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Adjust shadow values as desired */
  }

  .ui-menu-item {
    padding: 2px;
    transition: background-color 0.3s; /* Smooth hover transition */
   
}

.ui-menu .ui-menu-item-wrapper:hover {
    background-color: #a6b3c3 !important; /* Desired hover color */
    border: 1px solid #ccc; /* Add border on hover */
    border-radius: 10px;   /* Maintain rounded corners on hover */
    color:#344767;
}
.input-group {
    position: relative; /* Allow positioning of child elements */
    border-right: 1px solid #ccc; /* Add border */
}

.input-group-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center the icon vertically */
    right: 15px; /* Adjust right spacing as needed */
    font-size: 10px;
    font-weight: bold;

}
</style>


<div class="form-group {% if style.custom_class %} {{style.custom_class}} {% else %}col-6 {% endif %}">
  {% if field.label %}
    <label {% if style.hide_label %}class="sr-only"{% endif %}>
      {{ field.label }} {% if field.required %}<span class="text-danger">*</span>{% endif %}
    </label>
  {% endif %}

  {% if field.name == 'assigned_to' %}
  <div class="input-group">
    <input type="text" id="assigned_to_search" name="search" placeholder="Search {{ field.label }}" class="form-control">
    <i class="fas fa-chevron-down input-group-icon"></i> </div>
  {% comment %} <input type="text" id="assigned_to_search" name="search" placeholder="Search {{ field.label }}" class="form-control"> {% endcomment %}
  {% elif field.name == 'module' %}
  <div class="input-group">
  <input type="text" id="module_search" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  <i class="fas fa-chevron-down input-group-icon"></i> </div>
  {% elif field.name == 'priority' %}
  <input type="text" id="priority_search" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  {% elif field.name == 'contact_type' %}
  <div class="input-group">
  <input type="text" id="contact_search" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
   <i class="fas fa-chevron-down input-group-icon"></i> </div>
  {% elif field.name == 'post_code' %}
  <input type="text" id="postcode_search" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  {% elif field.name == 'conversation_type' %}
  <input type="text" id="conversation_search" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  {% elif field.name == 'status' %}
  <input type="text" id="status_search" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  {% elif field.name == 'customer_type' %}
  <input type="text" id="customer_type_serach" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  {% elif field.name == 'tax_preference' %}
  <input type="text" id="tax_preference_serach" name="{{ field.name }}" placeholder="Search {{ field.label }}" class="form-control">
  
  {% else %}
  <input type="text" id="search" name="search" placeholder="Search {{ field.label }}" class="form-control">
  {% endif %}
 

  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}

  {% if field.help_text %}
    <span class="help-block">{{ field.help_text|safe }}</span>
  {% endif %}
</div>

<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  
  $(function() {
    {% if field.name == 'assigned_to' %}
    var assignInput= $("#assigned_to_search")
    assignInput.autocomplete({
        source: "{% url 'user-autocomplete' %}",
        minLength: 1,
        select: function(event, ui) {
            console.log('Selected item:', ui.item);
            $("#id_assign_type").val(parseInt(ui.item.value)); // Convert to integer
            assignInput.val(ui.item.label); // Display the name in the input
            assignInput.prop("readonly", true); // Make input read-only after selection
            return false;
        }
      });
    {% elif field.name == 'module' %}
    var moduleInput= $("#module_search")
    moduleInput.autocomplete({
        source: "{% url 'module-autocomplete' %}",
        minLength: 1,
        select: function(event, ui) {
            console.log('Selected item:', ui.item);
            var convertedValue = parseInt(ui.item.value);
            console.log('Converted value:', convertedValue, typeof convertedValue); // Log the type of the converted value
            $("#id_module").val(convertedValue); // Convert to integer
            moduleInput.val(ui.item.label); // Display the name in the input
            return false;
          }

      });
    {% elif field.name == 'priority' %}
      $("#priority_search").autocomplete({
        source: ["High", "Medium", "Low"],
        minLength: 1,
      });
      {% elif field.name == 'contact_type' %}
      var contactInput = $("#contact_search");

      contactInput.autocomplete({
        source:"{% url 'contact-autocomplete' %}",
        minLength: 1,
        select: function(event, ui) {
            console.log('Selected item:', ui.item);
            $("#id_contact_type").val(parseInt(ui.item.value)); // Convert to integer
            contactInput.val(ui.item.label); // Display the name in the input
            // Make the field non-editable
            return false;
        }
      });
 
      {% elif field.name == 'post_code' %}
      $("#postcode_search").autocomplete({
        source:"{% url 'postcode-autocomplete' %}",
        minLength: 1,
      });
      {% elif field.name == 'conversation_type' %}
      $("#conversation_search").autocomplete({
        source:"{% url 'postcode-autocomplete' %}",
        minLength: 1,
      });
      {% elif field.name == 'status' %}
      $("#status_search").autocomplete({
        source:["Pending", "In Progress", "Completed"],
        minLength: 1,
      });
      {% elif field.name == 'customer_type' %}
      $("#customer_type_serach").autocomplete({
        source:["Business","Individual"],
        minLength: 1,
      });
      {% elif field.name == 'tax_preference' %}
      $("#tax_preference_serach").autocomplete({
        source:["Taxable","Tax Exempt"],
        minLength: 1,
      });
         
    {% else %}
      {# Handle other fields as needed #}
    {% endif %}
  });
</script>
