{% load static %}

<style>
  /* Custom CSS to increase the height of the Quill editor */
  .quill-editor {
    height: 200px; /* Set the desired height in pixels or use any other valid CSS height value */
  }
</style>

<div class="form-group {% if field.errors %}has-error{% endif %}">
  {% if field.label %}
    <label {% if style.hide_label %}class="sr-only"{% endif %}>
      {{ field.label }} {% if field.required %} <span class="text-danger">*</span> {% endif %}
    </label>
  {% endif %}
  <div id="edit-{{ field.name }}" class="quill-editor text-xs">
    {{ field.value|safe }} <!-- Render the initial content here if available -->
  </div>
  <input
    name="{{ field.name }}"
    type="hidden"
    {% if style.placeholder %}placeholder="{{ style.placeholder }}"{% endif %}
    {% if field.value is not None %}value="{{ field.value }}"{% endif %}
    {% if style.autofocus and style.input_type != "hidden" %}autofocus{% endif %}
    autocomplete="off"
    {% if field.required %}required{% endif %}
    id="quill-{{ field.name }}"
  />
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}
  {% if field.help_text %}
    <span class="help-block">{{ field.help_text|safe }}</span>
  {% endif %}
</div>

<script src="{% static 'assets/js/plugins/quill.min.js' %}"></script>
<script>
  if (document.getElementById('edit-{{ field.name }}')) {
    var quill = new Quill('#edit-{{ field.name }}', {
      theme: 'snow', // Specify theme in configuration
    });

    // Add an event listener to capture the content when the form is submitted
    var form = document.querySelector('form');
    
    form.addEventListener('submit', function (event) {
      
      var quillContent = document.getElementById('edit-{{ field.name }}').textContent;
       document.getElementById('quill-{{ field.name }}').value = quillContent;

      


    });
  }
</script>
