.help-block
{
    color: #fd5c70 !important;
    font-size: 0.75rem !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active .icon i
{
    color : #fff !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link .icon i
{
    color : #000 !important;
}

.password-toggle 
{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.sidebar-open {
    transform: translateX(0);
}
.swal2-styled.swal2-confirm
{
    background-color: #d73632 !important;
    background-image: none !important;
}
.swal2-styled.swal2-confirm:hover, .swal2-styled.swal2-confirm:focus
{
    background-color: #d73632 !important;
    background-image: none !important;
}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover
{
    background-color: #8392AB !important;
    background-image: none !important;
}
.swal2-styled.swal2-cancel
{
    background-color: #8392AB !important;
    background-image: none !important;
}

/* Style for the table header text */
table.table.table-flush thead {
color: #000; /* Light text color for header */
}


/* table.table.table-flush tbody {
color: #000; 
}

.dataTable-table th a {
color: #000;
} */

li.nav-item.active a.nav-link {
    background: #e9ecef !important;
    color: #000;
}

/* Hide sorting icon for the last column where sorting is disabled */
th.custom-last-column {
pointer-events: none;
}
th.custom-last-column a.dataTable-sorter::before,
th.custom-last-column a.dataTable-sorter::after {
content: none;
}

/* .choices[data-type*='select-one'] .choices__input
{
margin-bottom: 9px;
border-radius: 0.5rem;
border-top-right-radius: 0.5rem !important;
border-bottom-right-radius: 0.5rem !important;
border-left-width: 1px;
border: 1px solid color(srgb 0 0 0) !important;
} */



#fra-image-view-modal > [for="image-for-fra-image-view-modal"],
#fra-image-view-modal > [for="video-for-fra-video-view-modal"] {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}
.nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #d73632 !important;
   
}
.nav-tabs .nav-link{
border: none !important;
color: #344767;
}


.choices__item--disabled
{
    display: none !important;
}

  /* Styles for the custom icon */
  .form-control.custom-select:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 13.5px;
    top: 14px;
    pointer-events: none;
    transition: 0.3s ease;
}

/* theme  */
.dropdown-toggle {
    position: relative; /* Ensure the dropdown is positioned relative to its container */
    max-height: 200px; /* Set a maximum height for the dropdown */
    overflow-y: auto; /* Enable scrolling if content exceeds the maximum height */
    width: 168px !important;
  }

@media (min-width: 992px) {
    .timeline-one-side .timeline-content {
      max-width: none !important;
    }
  }
.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon
{
    background-color: #d73632 !important;
    background-image: none !important;
    color: #fff !important;
}
.bg-gradient-primary
{
    background-color: #d73632 !important;
    background-image: none !important;
}
.bg-gradient-dark
{
    background-color: #d73632 !important;
    background-image: none !important;  
}
.text-gradient.text-primary{
    background-color: #d73632 !important;
    background-image: none !important;  
}

.carousel-inner  {
    margin-right: 20px !important;  
}


.custom-date-search {
    width: 200px;
    /* position: relative; */
    height: 43px;
    overflow-y: auto;
    width: 200px !important;
    color: #344767 !important;
    border: 1px solid #344767 !important;
}
.range_inputs
{
    display: none;
}

#reportrange::placeholder {
    color: #344767 !important; /* Placeholder text color */
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    font-weight: 600;
    white-space: nowrap;
    
}
  
.custom-search {
    --bs-btn-border-color: #b3bac5 !important;
    --bs-btn-color: #b3bac5 !important;
}


.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .text-primary
  {
    color: #d73632 !important ;
  }


  

.custom-dropdown-toggle::after {
    content: '\f138'; /* Replace with your desired icon code or URL */
    margin-left: 1.5rem !important; /* Adjust spacing between default and custom icons */
}
.choices{
     margin-bottom: 0px !important;
}

.ranges li
{
    color: #67748e !important;
}

.ranges li.active {
    background-color: #A8B8D8 !important;
    border: 1px solid #A8B8D8 !important;
    color: #fff !important;
}


.ranges li:hover{
    background-color: #e9ecef !important;
    border: 1px solid #e9ecef !important;
    color: #344767 !important;
}
.daterangepicker.ltr {

    box-shadow: 0 8px 26px -4px rgb(20 20 20 / 15%), 0 8px 9px -5px rgb(20 20 20 / 6%);
    cursor: pointer;
}

.daterangepicker td.active, .daterangepicker td.active:hover
{
    background-color: #ce3233 !important;
}

.daterangepicker .calendar th, .daterangepicker .calendar td
{
    border: 1px solid transparent;
    border-radius: 150px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #393939;
    cursor: pointer;
    max-width: 86px;
    height: 39px;
    font-weight: 400;
    line-height: 39px;
    margin: 0;
    display: inline-block;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
}

.flatpickr-calendar .flatpickr-day.today, .flatpickr-calendar .flatpickr-day.selected, .flatpickr-calendar .flatpickr-day.startRange, .flatpickr-calendar .flatpickr-day.endRange
{
    background: #d53436 !important;
}