.help-block
{
    color: #fd5c70 !important;
    font-size: 0.75rem !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active .icon i
{
    color : #fff !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link .icon i
{
    color : #000 !important;
}

.password-toggle 
{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.sidebar-open {
    transform: translateX(0);
}
.swal2-styled.swal2-confirm
{
    background-image : linear-gradient(310deg, #5d1a14 0%, #f64936 100%) !important;
}
.swal2-styled.swal2-confirm:hover, .swal2-styled.swal2-confirm:focus
{
    background-image : linear-gradient(310deg, #5d1a14 0%, #f64936 100%) !important;
}

/* Style for the table header text */
table.table.table-flush thead {
color: #000; /* Light text color for header */
}


/* table.table.table-flush tbody {
color: #000; 
}

.dataTable-table th a {
color: #000;
} */

li.nav-item.active a.nav-link {
    background: #e9ecef !important;
    color: #000;
}

/* Hide sorting icon for the last column where sorting is disabled */
th.custom-last-column {
pointer-events: none;
}
th.custom-last-column a.dataTable-sorter::before,
th.custom-last-column a.dataTable-sorter::after {
content: none;
}

/* .choices[data-type*='select-one'] .choices__input
{
margin-bottom: 9px;
border-radius: 0.5rem;
border-top-right-radius: 0.5rem !important;
border-bottom-right-radius: 0.5rem !important;
border-left-width: 1px;
border: 1px solid color(srgb 0 0 0) !important;
} */

