{% load static %}
{% load custom_tags %}
<nav class="navbar navbar-main navbar-expand-lg  mt-2 px-0 mx-4 shadow-none border-radius-xl z-index-sticky justify-content-xl-start justify-content-between d-fex d-xl-none">
  <div class="row">
    <a class="navbar-brand m-0" href="/ " target="">
      <img src="{% static 'assets/img/logo2.png' %}" class="navbar-brand-img h-500" alt="main_logo" style="
      max-height: 3rem;">
      <!-- <span class="ms-1 font-weight-bold">Infinity Fire Solutions </span> -->
    </a>
  </div>
  <div class="sidenav-toggler sidenav-toggler-inner d-block d-xl-none me-3" id="navbar">
    <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
      <div class="sidenav-toggler-inner">
        <i class="sidenav-toggler-line"></i>
        <i class="sidenav-toggler-line"></i>
        <i class="sidenav-toggler-line"></i>
      </div>
    </a>
  </div>
</nav>