<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            {% for breadcrumb in breadcrumbs_data %}
                {% if breadcrumb.url %}
                    <li class="breadcrumb-item text-sm">
                    <a class="opacity-3 text-dark" href="{{breadcrumb.url}}">
                        <i class="{{breadcrumb.icon}}"></i>
                        {{breadcrumb.name}}
                        </a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">{{breadcrumb.name}}</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Default</li>
                {% endif %}
            {% endfor %}
           
        </ol>
        {% for breadcrumb in breadcrumbs_data %}
            {% if forloop.last %}
                <h6 class="font-weight-bolder mb-0">{{ breadcrumb.name }}</h6>
            {% endif %}
        {% endfor %}
        </nav>
        </div>
    </div>
</nav>