<div class="container-fluid my-4">
    <div class="row align-items-center">
        <div class="col-lg-12 col-sm-8">
            <div class="nav-wrapper position-relative end-0">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        {% if customer_data %}
                            <a class="nav-link {% if '/approved-quotation/' in request.path %}active{% endif %}" href="{% url 'approved_quotation_list' customer_data.id %}">Approved Quotation </a>
                      {% else %}
                      <a class="nav-link {% if '/approved-quotation/' in request.path %}active{% endif %}" href="{% url 'approved_quotation_list' %}">Approved Quotation </a>
                        {% endif %}
                    </li>

                    <li class="nav-item">
                        {% if customer_data %}
                            <a class="nav-link {% if '/stw/' in request.path %}active{% endif %}" href="{% url 'customer_stw_list' customer_data.id %}">STW</a>
                            {% else %}
                            <a class="nav-link {% if '/stw/' in request.path %}active{% endif %}" href="{% url 'customer_stw_list' %}">STW</a>
                        {% endif %}
                    </li>

                    <li class="nav-item">
                        {% if customer_data %}
                            <a class="nav-link {% if '/jobs/' in request.path %}active{% endif %}" href="{% url 'jobs_list' customer_data.id %}">Jobs</a>
                            {% else %}
                            <a class="nav-link {% if '/jobs/' in request.path %}active{% endif %}" href="{% url 'jobs_list' %}">Jobs</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
