

<div class="container-fluid mt-4">
    <div class="row align-items-center">
      <div class="col-lg-12 col-sm-8">
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-tabs" >
                <li class="nav-item">
                     <a class="nav-link active" href="{% url 'sitepack_document_list' %}">
                        Documents
                    </a>
                </li>
                <li class="nav-item ">
                     <a class="nav-link" href="{% url 'sitepack_job_list' %}">
                        Jobs
                    </a>
                 
                
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

