<div class="container-fluid mt-4">
    <div class="row align-items-center">
      <div class="col-lg-12 col-sm-8">
        <div class="nav-wrapper position-relative end-0">
          <ul class="nav nav-tabs" >
                <li class="nav-item ">
                    <li class="nav-item ">
                {% if item_instance %}
                    <a class="nav-link {% if '/stock/item/edit/' in request.path %}active{% endif %}" href="{% url 'item_edit' item_instance.id  %}">
                        Item Information
                    </a>
                    {% else %}
                    <a class="nav-link active">Item Information</a>
                {% endif %}
            </li>
            <li class="nav-item">
                    {% if item_instance %}
                        <a class="nav-link {% if '/stock/inventory/' in request.path %}active{% endif %} " href="{% url 'inventory_view' item_instance.id  %}">
                            Inventory
                        </a>
                        {% else %}
                        <a class="nav-link ">Inventory </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

