 <!-- add_customer.html -->
 {% extends 'base.html' %}
 {% load static %}
 {% load custom_tags %}
 {% block title %} Purchase Order{{ block.super }}{% endblock %}
 {% block content %}
 <style>
  ul li input[type=text] {
  display: inline-block;
  
  }
  .input-container {
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing as needed */
}
.custom-date-search {
  width: 120px !important;
}
  </style>
 {% include 'components/alert.html' %}
 <div class="container-fluid py-4">
   <div class="row">
     <div class="row mt-0">
       <div class="col-12">
         <div class="card">
           <!-- Card header -->
           <div class="card-header pb-0 ps-3 pt-3">
             <div class="d-lg-flex justify-content-between">
               <div>
                <h4 class="mb-0">Purchase Orders</h4>
               </div>
               <div class="ms-auto my-auto mt-lg-0 mt-4">
                  <div class="ms-auto my-auto">
                    {% if request.user|has_add_permission:"purchase_order" %}
                    <!-- Show the "Add" button only if the user has the 'can_create_data' permission for 'Vendor' module -->
                      <a href="{% url 'purchase_order_add' %}" class="btn bg-gradient-primary btn-sm mb-0"  style="float: right;">+&nbsp; Add Purchase Order</a>
                    {% else %}
                      <!-- The user doesn't have the permission, so don't show the "Add" button -->
                    {% endif %}
                  </div>
                </div>
              </div>
              <label class="mt-4 text-muted">Filters:</label>
              {% include 'purchase_order_filter.html' %}
             
            </div>
            
              <div class="card-body px-0 pb-0 pt-0">
                <div class="table-responsive">
                  <table class="table table-flush text-dark " id="purchase-order-list">
                    <thead class="thead-light">
                          <tr>
                          <th>PO No.</th>
                          <th>Vendor</th>
                          <th>Location</th>
                          <th>Total(£)</th>
                          <th>Created At</th>
                          <th>Status</th>
                          <th class="custom-last-column">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="ml-4"> 
                    </tbody>
                    
                  </table>
                </div>
            </div>
       </div>
     </div>
   </div>
 </div>

 {% endblock %} 
 {% block extra_js %}
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script src="{% static 'assets/js/plugins/flatpickr.min.js' %}"></script>
<script>

// filter vendor
const searchInput = document.getElementById('searchVendor');
const applySearchButton = document.getElementById('applySearch');
const searchResults = document.getElementById('searchResults');
const vendorDropdown = document.getElementById('vendorDropdown'); // Assigned To dropdown element

let currentSearchResults = []; // Store the current search results
let isDropdownOpen = false; // Variable to track dropdown open state

// Function to update search results
function updateSearchResults(results) {
  currentSearchResults = results; // Store the results
  searchResults.innerHTML = '';

  if (results.length > 0) {
    results.forEach(result => {
      const li = document.createElement('li');
      const link = document.createElement('a');
      link.classList.add('dropdown-item', 'border-radius-md');
      link.href = '#';
      link.textContent = result;
      // Add the click event to apply the filter
      link.onclick = function () {
        applyFilter('vendor', result);
      };
      li.appendChild(link);
      searchResults.appendChild(li);
    });
  } else {
    const li = document.createElement('li');
    li.classList.add('dropdown-item', 'text-muted');
    li.textContent = 'No results found.';
    searchResults.appendChild(li);
  }
}

// Function to handle Apply Filter button click
function handleApplyFilter() {
  const searchTerm = searchInput.value;

  // Make a request to your backend API with the searchTerm
  // Example using fetch:
  fetch(`/stock/vendor/serach/?term=${searchTerm}`)
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    // Update the search results
    updateSearchResults(data.data.results);

  })
  .catch(error => console.error(error, "error"));
}

// Function to toggle dropdown visibility
function toggleDropdown() {
  isDropdownOpen = !isDropdownOpen;
}

const inputField = document.getElementById('searchVendor');

inputField.addEventListener('input', () => {
  handleApplyFilter();
  toggleDropdown();
  event.stopPropagation();
});



// Loaction search
const locationsearchInput = document.getElementById('searchLocation');
const locationsearchResults = document.getElementById('locationsearchResults');
const locationDropdown = document.getElementById('locationDropdown'); 

let locationcurrentSearchResults = []; // Store the current search results
let locationisDropdownOpen = false; // Variable to track dropdown open state

// Function to update search results
function updateLocationSearchResults(results) {
  locationcurrentSearchResults = results; 
  locationsearchResults.innerHTML = '';

  if (results.length > 0) {
    results.forEach(result => {
      const li = document.createElement('li');
      const link = document.createElement('a');
      link.classList.add('dropdown-item', 'border-radius-md');
      link.href = '#';
      link.textContent = result;
      // Add the click event to apply the filter
      link.onclick = function () {
        applyFilter('location', result);
      };
      li.appendChild(link);
      locationsearchResults.appendChild(li);
    });
  } else {
    const li = document.createElement('li');
    li.classList.add('dropdown-item', 'text-muted');
    li.textContent = 'No results found.';
    locationsearchResults.appendChild(li);
  }
}

// Function to handle Apply Filter button click
function handlelocationApplyFilter() {
  const searchTerm = locationsearchInput.value;

  // Make a request to your backend API with the searchTerm
  // Example using fetch:
  fetch(`/stock/inventory_location/serach/?term=${searchTerm}`)
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    // Update the search results
    updateLocationSearchResults(data.data.results);

  })
  .catch(error => console.error(error, "error"));
}

// Function to toggle dropdown visibility
function toggleDropdown() {
  locationisDropdownOpen = !locationisDropdownOpen;
}

const locationinputField = document.getElementById('searchLocation');

locationinputField.addEventListener('input', () => {
  handlelocationApplyFilter();
  toggleDropdown();
  event.stopPropagation();
});


// JavaScript code to apply the filter on each field
function applyFilter(filterName, filterValue) {
  
 
  const currentUrl = new URL(window.location.href);
  currentUrl.searchParams.set(filterName, filterValue);
  window.location.href = currentUrl.toString();
}


// Check URL parameters on page load and update search and filter selections
window.addEventListener('DOMContentLoaded', function() {
  const filterNames = ['vendor', 'location', 'status'];
  filterNames.forEach(filterName => {
    const filterValue = new URLSearchParams(window.location.search).get(filterName);
    
    if (filterValue) {
      let displayedValue = filterValue; // Default displayed value is the filter value itself
      
      if (filterValue.length > 9) {
        // Truncate the filter value if it's longer than 5 characters
        displayedValue = filterValue.substring(0, 9) + '..';
        // Update the dropdown element with the displayed value
        document.getElementById(`${filterName}Dropdown`).textContent = displayedValue.replace(/_/g, ' ');
      }

      

    }
  });
});

// JavaScript code to clear single filter on onclick event
function clearFilter(filterName) {
  const currentUrl = new URL(window.location.href);
  currentUrl.searchParams.delete(filterName);
  window.location.href = currentUrl.toString();
}
  // JavaScript code to clear all the filters
  function clearAllFilters() {
  const currentUrl = new URL(window.location.href);
  const queryParams = new URLSearchParams(currentUrl.search);
  const filterNames = ['vendor', 'location', 'status']; // Add dateRange to the filterNames array

  filterNames.forEach(filterName => {
    queryParams.delete(filterName);
    document.getElementById(`${filterName}Dropdown`).textContent = filterName;
   
    
  });

  window.history.replaceState({}, document.title, `${currentUrl.pathname}?${queryParams.toString()}`);
  window.location.reload(); // Reload the page after clearing all filters
}

var searchUrl = window.location.href;

var dataTable;
// Config for the first table
var columnsConfig1 = [
    // Define column configurations for your DataTable
    // Each object in this array corresponds to a column
    { fieldName: 'po_number' },
    { fieldName: 'vendor_id' },
    { fieldName: 'inventory_location_id' },
    { fieldName: 'total_amount' },
    { fieldName: 'created_at' },
    {
      fieldName: 'status',
      type: 'status',
    },
    {
      fieldName: 'actions',
      type: 'actions',
      linkActions: [
          { label: 'Edit', iconClass: 'fas fa-edit text-secondary', urlField: '/purchase_order/edit/' },
      ]
  }, 
];

// Call the function to initialize the DataTable
initializeDataTable("purchase-order-list", searchUrl, columnsConfig1);

// Function to check if any filter has a value
function hasFilters() {
    var vendor = document.getElementById("vendor-filter").value;
    var location = document.getElementById("location-filter").value;
    var status = document.getElementById("status-filter").value;
    var dueDate = document.getElementById("due-date-filter").value;
    var orderDate = document.getElementById("order-date-filter").value;
    
    return (vendor || location || status || dueDate || orderDate);
}



function initializeDataTable(tableId, dataUrl, columnsConfig) {
    if (document.getElementById(tableId)) {

        // Fetch data from the provided URL
        fetch(dataUrl, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "X-Requested-With": "XMLHttpRequest"
                }
            }).then(function (response) {
                // Check if the network response is successful
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            }).then(function (data) {
                // Parse the received data
                const responseData = data.data;
                console.log(responseData)
                if (responseData.length > 0) {
                // Format the data for DataTable consumption
                  var formattedData = {
                      "draw": 1, // Set the appropriate draw value
                      "recordsTotal": responseData.length,
                      "recordsFiltered": responseData.length,
                      "data": responseData.map(function(item) {
                        
                          // Generate cell content based on column type
                          var row = [];
                          for (var columnConfig of columnsConfig) {
                              var cellContent = item[columnConfig.fieldName];

                              if (columnConfig.type === 'status') {
                                  cellContent = getStatusCellContent(item.status);
                              }  
                              else if (columnConfig.type === 'actions') 
                              {
                                  cellContent = generateActionButtons(item, columnConfig);
                              }
                              else if (columnConfig.fieldName === 'created_at') {
                                  // Convert date fields from "DD/MM/YYYY" to "dd.mm.yyyy" format
                                  cellContent = formatDate(cellContent);
                              }
                                                                    
                              row.push(cellContent);
                          }
                          return row;
                      })
                  };
                }
                else
                {
                  var formattedData;
                }
                // Destroy the existing DataTable (if any)
                if (dataTable) {
                    dataTable.destroy();
                }

                // Initialize the DataTable using the simpleDatatables library
                dataTable = new simpleDatatables.DataTable("#" + tableId, {
                    searchable: true,
                    fixedHeight: false,
                    perPage: 25,
                    serverSide: true,
                    processing: true,
                    data: formattedData // Pass the formatted data
                });
                // Get all table cells and add the 'text-sm' class to each cell
                const tableCells = document.querySelectorAll("#" + tableId + " td");
                tableCells.forEach((cell) => {
                    cell.classList.add("text-sm");
                });
          

        }).catch(function (error) {
            console.error("Fetch error for table " + tableId, error);
        });
    }
}
// Function to format date from "DD-MM-YYYY" to "Aug 23, 2023" format
function formatDate(dateString) {
    var options = { day: 'numeric', month: 'long', year: 'numeric' };
    var formattedDate = new Date(dateString).toLocaleDateString('en-US', options);
    
    // Extract day, month, and year components
    var dateComponents = formattedDate.split(' ');
    var day = dateComponents[1];
    var month = dateComponents[0];
    var year = dateComponents[2];
    
    // Rearrange the components
    var formattedDate = day + ' ' + month + ' ' + year;
    
    return formattedDate;
}


// Function to convert string to title case and replace underscores with spaces
function formatStatus(status) {
    return status.replace(/_/g, ' ').replace(/\w\S*/g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
}

// Condition function to handle status color and icon
function getStatusCellContent(status) {
    var cellContent = '';
    cellContent = '<span class="status-dark">' + formatStatus(status) + '</span>';

    return cellContent;
}

// Function to generate link action HTML
function generateLinkAction(item, action) {
    var url = action.urlField;
    if (item.status == "sent_for_approval")
    {
      return '<li><a class="dropdown-item" href="' + url + item['id'] + '/">Approve </a></li>';
    }
    return '<li><a class="dropdown-item" href="' + url + item['id'] + '/">' + action.label + '</a></li>';
}

// Function to generate a dropdown menu of actions
function generateActionButtons(item, columnConfig) {
    var status = item['status'];
    var conditionalActionsHTML = '';


    {% if request.user|has_update_permission:'purchase_order'%}
    
    if ((status === "pending")) {
        var actionsHTML = columnConfig.linkActions.map(function(action) {
            return generateLinkAction(item, action);
        }).join('');
        
        
        if (actionsHTML !== "") {
                conditionalActionsHTML = actionsHTML;
            }
        
    } 

    else if ((status === "sent_for_approval")) {
        var actionsHTML = columnConfig.linkActions.map(function(action) {
            return generateLinkAction(item, action);
        }).join('');
        
        {% if request.user.roles.name == "projects_admin_(IT)" %}
        
        if (actionsHTML !== "") {
                conditionalActionsHTML = actionsHTML;
            }
        {% endif %}
        
    } 

    
    {% endif %}




    {% if request.user.roles.name == "projects_admin_(IT)" %}
      else if (status === "approved" || status == "partially_completed") {
          conditionalActionsHTML = '<li><a class="dropdown-item" href="/purchase_order/invoice/'+ item['id'] + '/">Invoice</a></li>';
      }
      {% endif %}  
  
    var dropdownHTML = '<div class="dropstart ms-auto pe-0">' +
    '<a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown" aria-expanded="false">' +
    '<i class="fa fa-ellipsis-h text-secondary" aria-hidden="true"></i></a>' +
    '<ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2" style="">' +
    conditionalActionsHTML +
    '<li><a class="dropdown-item" href="/purchase_order/view/'+ item['id'] + '/">View</a></li>' +
    '</ul>' +
    '</div>';

    return dropdownHTML;
}



</script>


 {% endblock %}     
 