<!-- add_customer.html -->
{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Purchase Order View{{ block.super }}{% endblock %}
{% block content %}
{% include 'components/alert.html' %}
<style>
    /* Add borders to the table */
    .custom-table th,
    .custom-table td {
      border: 1px solid #dee2e6;
      padding: 8px;
    }
    .btn.btn-outline-dotted {
    border: 1px dotted #000; /* Replace #000 with the desired color for the border */
    background-color: transparent;
    color: #000; /* Replace #000 with the desired text color */
}
.choices__item--disabled{
  display: none !important;
}
</style>
<div class="container-fluid py-4">
    <div class="card ">
        <div class="card-body px-4 pb-0 mb-10">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-12">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">Vendor Information </h6>
                            <span class="mb-2 text-sm">Vendor Name: <span class="text-dark font-weight-bold ms-2"> {{purchase_order.vendor_id.first_name}} {{purchase_order.vendor_id.last_name}}</span></span>
                            <span class="mb-2 text-sm">Phone Number: <span class="text-dark font-weight-bold ms-2"> {{purchase_order.vendor_id.phone_number}}</span></span>
                            <span class="mb-2 text-sm">Email Address: <span class="text-dark ms-2 font-weight-bold"> {{purchase_order.vendor_id.email}}</span></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 col-12">
                    <ul class="list-group">
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm">Inventory Location Information</h6>
                            <span class="mb-2 text-sm">Name: <span class="text-dark font-weight-bold ms-2"> {{purchase_order.inventory_location_id.name}}</span></span>
                            <span class="mb-2 text-sm">Address: <span class="text-dark font-weight-bold ms-2"> {{purchase_order.inventory_location_id.address}}</span></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-12 ms-auto text-sm">
                   <div class="d-flex justify-content-between">
                        <span class="mb-2 font-weight-bold">PO Number :</span>
                        <span class="text-dark ms-2 ">{{purchase_order.po_number}}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="mb-2  font-weight-bold" >Date:</span>
                        <span class="text-dark ms-2 ">{{purchase_order.order_date|date:"M d, Y"}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="mb-2  font-weight-bold">Order Date:</span>
                            <span class="text-dark ms-2 ">{{purchase_order.due_date|date:"M d, Y"}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="font-weight-bold">Status:</span>
                            <span class="text-dark ms-2 ">{{purchase_order.get_status_display}}</span>
                        </div>
                        
                </div>
            </div>
         
            <div class="row mt-5">
                <div class="col-md-12">
                    <table class="table-responsive custom-table mb-3 " style="width:100%">
                            <thead>
                                <tr class="px-0">
                                    <th class="text-start col-6 text-sm">Item Name</th>
                                    <th class="text-center col-2 text-sm">Price(£)</th>
                                    <th class="text-center col-2 text-sm">Quantity </th>
                                    <th class="text-center col-2 text-sm">Total(£)</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in purchase_order_items %}
                                <tr class="">
                                    <td class="text-sm">{{item.item_name}} </td>
                                    <td class="text-sm text-center">{{item.unit_price}} </td>
                                    <td class="text-sm text-center">{{item.quantity}} </td>
                                    <td class="text-sm text-center">{{item.row_total}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 ">
                        {% if purchase_order.notes %}
                        <h6 class=" text-sm">Additional Notes </h6>
                        <span class="notes text-sm">{{ purchase_order.notes }}</span>
                        <br>
                        {% endif %}
                        {% if purchase_order.approval_notes %}
                            <h6 class="mt-2  text-sm">Approval Notes </h6>
                            <span class="approval_notes text-sm">{{ purchase_order.approval_notes }}</span>
                        {% endif %}
                        {% if presigned_url %}
                            <br><br>
                            <a href="{{presigned_url}}" class="text-sm">{{file_name}}</a>
                            {% endif %}
                    </div>
                    <div class="col-lg-3 col-12 ms-auto">
                         <div class="d-flex justify-content-between">
                                <span class="mb-2 text-sm">Sub Total</span>
                                <span class="text-dark font-weight-bold ms-2">£{{ purchase_order.sub_total }}</span>
                            </div>
                        <div class="d-flex justify-content-between">
                            <span class="mb-2 text-sm">Discount </span>
                            <span class="text-dark ms-2 font-weight-bold">£{{ purchase_order.discount}}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="text-sm"> Tax (%):</span>
                            <span class="text-dark ms-2 font-weight-bold">£{{ purchase_order.tax }}</span>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <span class="mb-2 text-lg">Total</span>
                            <span class="text-dark text-lg ms-2 font-weight-bold">£{{ purchase_order.total_amount }}</span>
                    </div>
                </div>
            </div>
            {% if invoice_item_list %}
            <div class="row mt-5">
                <div class="col-md-12">
                    <h6>Invoices</h6>
                    <table class="table-responsive custom-table mb-3 " style="width:100%">
                            <thead>
                                <tr class="px-0">
                                    <th class="text-start col-3 text-sm">Invoice Number</th>
                                    <th class="text-start col-2 text-sm">Invoice Date</th>
                                    <th class="col-2 text-sm">Created At</th>
                                    <th class="text-center col-2 text-sm">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice_item in invoice_item_list %}
                                <tr class="">
                                    <td class="text-sm">{{invoice_item.invoice_number}} </td>
                                    <td class="text-sm">{{invoice_item.invoice_date}} </td>
                                    <td class="text-sm">{{invoice_item.created_at|date:"M d, Y"}} </td>
                                    <td class="text-center text-sm">
                                        <a href="{% url 'purchase_order_invoice' purchase_order.id invoice_item.id %}"> <i class="fas fa-eye" aria-hidden="true"></i>
                                        </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

            
{% endblock %}