
<div class="d-flex flex-wrap ">
    <div>
        <div class="dropdown d-inline me-2">
            <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle custom-dropdown-toggle " data-bs-toggle="dropdown" id="vendorDropdown">
                Vendor
              </a>
            <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="vendorDropdown" data-popper-placement="left-start">
                <li>
                  <input type="text" id="searchVendor" class="form-control" placeholder="Search">
                </li>
                <li><hr class="dropdown-divider"></li>
                <li id="searchResults"></li>
                <li><hr class="horizontal dark my-2"></li>
              <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('vendor')">Remove Filter</a>
              </li>
        </div> 
    </div>

    <div>
        <div class="dropdown d-inline me-2">
            <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle custom-dropdown-toggle " data-bs-toggle="dropdown" id="locationDropdown">
                Location
              </a>
            <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="locationDropdown" data-popper-placement="left-start">
                <li>
                  <input type="text" id="searchLocation" class="form-control" placeholder="Search">
                </li>
                <li><hr class="dropdown-divider"></li>
                <li id="locationsearchResults"></li>
                <li><hr class="horizontal dark my-2"></li>
              <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('vendor')">Remove Filter</a>
              </li>
        </div> 
    </div>
    <div>
        <div class="dropdown d-inline me-2">
            <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle custom-dropdown-toggle  " data-bs-toggle="dropdown" id="statusDropdown">
            <span class="flex-grow-1 text-start custom-search">Status</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3 " aria-labelledby="statusDropdown" data-popper-placement="bottom-end">
    
            {% for status in status_list %}
            <li>
            <a class="dropdown-item border-radius-md text-start " href="#" onclick="applyFilter('status', '{{ status.0 }}')">{{ status.1 }}</a>
            </li>
        {% endfor %}
        <li><hr class="horizontal dark my-2"></li>
        <li><a class="dropdown-item border-radius-md text-danger" href="#" onclick="clearFilter('status')">Remove Filter</a></li>
    
        </ul>
        </div>
    </div>
    <div class=" my-auto">
      <a class="btn bg-gradient-secondary" onclick="clearAllFilters()">
          Clear Filters
      </a>
      </div>
    </div>