 <!-- add_customer.html -->
 {% extends 'base.html' %}
 {% load static %}
 {% load custom_tags %}
 {% block title %} Purchase Order{{ block.super }}{% endblock %}
 {% block content %}
 {% include 'components/alert.html' %}
 <div class="container-fluid py-4">
   <div class="row">
     <div class="row mt-4">
       <div class="col-lg-8 col-8 mb-3">
           <!-- Add your content here -->
       </div>
       <div class="col-lg-4 col-4 mb-3 text-right">
         {% if request.user|has_add_permission:"stock_management" %}
           <!-- Show the "Add" button only if the user has the 'can_create_data' permission for 'Vendor' module -->
           <a href="{% url 'purchase_order_add' %}" class="btn bg-gradient-primary btn-sm mb-0"  style="float: right;">+&nbsp; Add Purchase Order</a>
         {% else %}
           <!-- The user doesn't have the permission, so don't show the "Add" button -->
         {% endif %}
          
       </div>
       <div class="col-12">
         <div class="card">
           <!-- Card header -->
           <div class="card-header pb-0">
             <div class="d-lg-flex justify-content-between">
               <div>
                 <h4 class="mb-0">Purchase Orders</h4>
               </div>
 
               </div>
             </div>
         <div class="card-body px-0 pb-0">
          <div class="table-responsive">
             <table class="table table-flush text-dark" id="purchase-order-list">
               <thead class="thead-light">
                    <tr>
                    <th>PO No.</th>
                    <th>Vendor</th>
                    <th>Location</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
               </thead>
               <tbody class="ml-4"> 
                 <!-- {% for purchase_order in purchase_orders %}
                 <tr>
                   <td >{{purchase_order.po_number}}</td>
                   <td >{{purchase_order.vendor_id}}</td>
                   <td >{{purchase_order.inventory_location_id}}</td>
                   <td >{{purchase_order.sub_total}}</td>
                   <td >{{purchase_order.tax}}</td>
                   <td >{{purchase_order.total_amount}}</td>
                   <td >{{purchase_order.order_date}}</td>
                   <td >{{purchase_order.due_date}}</td>
                   <td >{% if  purchase_order.status == 'sent_for_approval' %}
                        <span class="text-success">{{ purchase_order.get_status_display|title }}</span>
                    {% else %}
                        <span class="status-dark">{{ purchase_order.get_status_display|title }}</span>
                    {% endif %}
                  </td>
                  <td class="text-sm">
                    
                    <a href="{% url 'purchase_order_view' purchase_order.id %}" data-bs-toggle="tooltip" data-bs-original-title="Preview Purchase Order">
                    <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                    </a>
                    {% if  purchase_order.status != 'sent_for_approval' %}
                      <a href="{% url 'purchase_order_edit' purchase_order.id %}" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit Purchase Order">
                      <i class="fas fa-edit text-secondary" aria-hidden="true"></i>
                    {% endif %}
                    </a>
                   
                    </td>
                 </tr>
                 
               
                 {% endfor %} -->
               </tbody>
               
             </table>
           </div>
        </div>
       </div>
     </div>
   </div>
 </div>

 {% endblock %} 
 {% block extra_js %}
 <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
 <script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
 <script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
 <script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
 <script src="{% static 'assets/js/custom_delete.js' %}"></script>
 <script>

// Config for the first table
var columnsConfig1 = [
    // Define column configurations for your DataTable
    // Each object in this array corresponds to a column
    { fieldName: 'po_number' },
    { fieldName: 'vendor_id' },
    { fieldName: 'inventory_location_id' },
    { fieldName: 'total_amount' },
    { fieldName: 'order_date' },
    { fieldName: 'due_date' },
    {
      fieldName: 'status',
      type: 'status',
    },
    {
      fieldName: 'actions',
      type: 'actions',
      linkActions: [
          { tooltip: 'View PO', iconClass: 'fas fa-eye text-secondary', urlField: '/purchase_order/view/' },
          { tooltip: 'Edit PO', iconClass: 'fas fa-edit text-secondary', urlField: '/purchase_order/edit/' },
      ]
  }, 
];
// Call the function to initialize the DataTable
initializeDataTable("purchase-order-list", "/purchase_order/list/", columnsConfig1);


function initializeDataTable(tableId, dataUrl, columnsConfig) {
    if (document.getElementById(tableId)) {

     
        // Fetch data from the provided URL
        fetch(dataUrl, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "X-Requested-With": "XMLHttpRequest"
                }
            }).then(function (response) {
                // Check if the network response is successful
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            }).then(function (data) {
                // Parse the received data
                console.log(data)
                const responseData = JSON.parse(data.data);

                // Format the data for DataTable consumption
                var formattedData = {
                    "draw": 1, // Set the appropriate draw value
                    "recordsTotal": responseData.length,
                    "recordsFiltered": responseData.length,
                    "data": responseData.map(function(item) {
                        // Generate cell content based on column type
                        var row = [];
                        for (var columnConfig of columnsConfig) {
                            var cellContent = item.fields[columnConfig.fieldName];

                            if (columnConfig.type === 'status') {
                                cellContent = getStatusCellContent(item.fields.status);
                            }  else if (columnConfig.type === 'actions') {
                                cellContent = generateActionButtons(item, columnConfig);
                            }
                            
                            row.push(cellContent);
                        }
                        return row;
                    })
                };
              // Initialize the DataTable using the simpleDatatables library
              const dataTable = new  simpleDatatables.DataTable("#" + tableId, {
                searchable: true,
                fixedHeight: false,
                perPage: 25,
                serverSide: true,
                processing: true,
                data: formattedData // Pass the formatted data
            });
          

        }).catch(function (error) {
            console.error("Fetch error for table " + tableId, error);
        });
    }
}

// Function to convert string to title case and replace underscores with spaces
function formatStatus(status) {
    console.log(status)
    return status.replace(/_/g, ' ').replace(/\w\S*/g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
    });
}

// Condition function to handle status color and icon
function getStatusCellContent(status) {
    var cellContent = '';
     if (status === 'sent_for_approval') {
        cellContent = '<span class="text-success">' + formatStatus(status) + '</span>';
    } else {
        cellContent = '<span class="status-dark">' + formatStatus(status) + '</span>';
    }

    return cellContent;
}

// Function to generate link action HTML
function generateLinkAction(item, columnConfig) {
    var url = columnConfig.urlField;

    if (item.fields['status'] === "pending" || item.fields['status'] === "send_for_approval") {
        return '<a href="' + url + item['pk'] + '" data-bs-toggle="tooltip" class="ms-2 data-bs-original-title="' + columnConfig.tooltip + '"' + '>' +
               '<i class="' + columnConfig.iconClass + '" aria-hidden="true"></i>' +
               '</a>';
    } else {
        return '<div class="d-flex align-items-center">' +
               '<a class="cursor-pointer show" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
               '<i class="fa fa-ellipsis-h text-secondary" aria-hidden="true"></i></a>' +
               '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
               '<a class="dropdown-item" href="#">Dummy Item 1</a>' +
               '<a class="dropdown-item" href="#">Dummy Item 2</a>' +
               '<div class="dropdown-divider"></div>' +
               '<a class="dropdown-item" href="#">Dummy Item 3</a>' +
               '</div>' +
               '</div>';
    }
}

// Function to generate action buttons HTML
function generateActionButtons(item, columnConfig) {
    var actionsHTML = columnConfig.linkActions.map(function(action) {
        return generateLinkAction(item, action);
    }).join(' ');

    return actionsHTML;
}


</script>



 {% endblock %}     
 