{% extends 'base.html' %}
{% load static %}
{% load inventory_tags %}
{% load custom_tags %}
{% block title %} Purchase Order View{{ block.super }}{% endblock %}
{% block content %}
{% include 'components/alert.html' %}
<div class="container-fluid py-2">
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-6 d-flex align-items-center">
                <h5 class="mb-0">Purchase Order</h5>
                {% if purchase_order.status %}
                <div class="ps-2"> 
                    <span class="badge 
                    {% if purchase_order.status == 'Pending' %}
                    bg-gradient-info
                    {% elif purchase_order.status == 'Sent for Approval' %}
                    bg-gradient-warning
                    {% elif purchase_order.status == 'Approved' or purchase_order.status == 'Completed'%}
                    bg-gradient-success
                    {% elif purchase_order.status == 'Partially completed' %}
                    bg-gradient-danger
                    {% endif %}">
                    {{ purchase_order.status }}
                    </span>
                </div>
                {% endif %}
                </div>
                <div class="col-6 text-end">
                    {% include 'components/back_button.html' %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row justify-content-between">
                <div class="col-lg-3 col-md-4 col-12">
                    <ul class="list-group">
                        {% if purchase_order.vendor_id %}
                        <li class="list-group-item border-0 p-4 bg-gray-100 border-radius-lg">
                            <div class="row">
                                <h6 class="mb-3 text-sm">Vendor Information</h6>
                                <span class="text-dark text-wrap text-sm">
                                    {{purchase_order.vendor_id.name|default:'-'|title}}
                                </span>
                                <span class="text-dark text-wrap text-sm">
                                    {{purchase_order.vendor_id.phone_number|default:'-'}}
                                </span>
                                <span class="text-dark text-wrap text-sm">
                                    {{purchase_order.vendor_id.email|default:'-'}}
                                </span>
                            </div>
                        </li>
                        {% else %}
                        <li class="list-group-item border-0 p-4 bg-gray-100 border-radius-lg">
                            <div class="row">
                                <h6 class="mb-3 text-sm">Sub-Contractor Information</h6>
                                <span class="text-dark text-wrap text-sm">
                                    {{purchase_order.sub_contractor_id.name|default:'-'|title}}
                                </span>
                                <span class="text-dark text-wrap text-sm">
                                    {{purchase_order.sub_contractor_id.phone_number|default:'-'}}
                                </span>
                                <span class="text-dark text-wrap text-sm">
                                    {{purchase_order.sub_contractor_id.email|default:'-'}}
                                </span>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-4 col-12">
                    <ul class="list-group">
                        {% if purchase_order.inventory_location_id %}
                        <li class="list-group-item border-0 p-4 bg-gray-100 border-radius-lg">
                            <div class="row">
                            <h6 class="mb-3 text-sm">Warehouse Information</h6>
                            <span class="text-dark text-sm text-wrap"> {{purchase_order.inventory_location_id.name|default:'-'|title}}</span>
                            <span class="text-dark text-sm text-wrap"> {{purchase_order.inventory_location_id.address|default:'-'}}</span>
                            </div>
                        </li>
                        {% else %}
                        <li class="list-group-item border-0 p-4 bg-gray-100 border-radius-lg">
                            <div class="row">
                            <h6 class="mb-3 text-sm font-weight-bold">Site Address Information</h6>
                            <span class="text-dark text-sm text-wrap">{{purchase_order.user_id.name|default:'-'|title}}</span>
                            <span class="text-dark text-sm text-wrap"> {{purchase_order.site_address.name|default:'-'}}</span>
                            <span class=" text-dark text-sm text-wrap"> {{purchase_order.site_address.address|default:'-'}}</span>
                            <span class=" text-dark text-sm text-wrap"> {{purchase_order.user_id.email|default:'-'}}</span>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <ul class="list-group">
                        <li class="list-group-item border-0 p-4 bg-gray-100 border-radius-lg">
                            <div class="row">
                                <span class="mb-2 text-sm">
                                    PO No.: <span class="text-dark font-weight-bold ms-2 text-wrap"> {{purchase_order.po_number|default:'-'}}</span>
                                </span>
                                <span class="mb-2 text-sm">
                                    PO Date: <span class=" text-dark font-weight-bold ms-2 text-wrap"> {{purchase_order.po_date|default:'-'}}</span>
                                </span>
                                <span class="mb-2 text-sm">
                                    PO Due Date: <span class=" text-dark font-weight-bold ms-2 text-wrap"> {{purchase_order.po_due_date|default:'-'}}</span>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mt-5">
                <div class="table-responsive">
                    <table class="table table-flush mb-3 text-sm">
                        <thead>
                            <tr class="px-0 text-start">
                                <th class="col-3">Item Name</th>
                                <th class="col-3">Item Ref No.</th>
                                <th class="col-2">Price(£)</th>
                                <th class="col-2">Quantity </th>
                                <th class="col-1">Total(£)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in purchase_order.items %}
                            <tr class="">
                                <td class="text-sm">{{item.item_name}} </td>
                                <td class="text-sm">{{item.reference_number|default:'-'}}</td>
                                <td class="text-sm">{{item.unit_price}}</td>
                                <td class="text-sm">{{item.quantity}} </td>
                                <td class="text-sm">{{item.row_total}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row justify-content-between mt-4">
                <div class="col-12 col-md-6">
                    {% if purchase_order.notes %}
                    <h6 class=" text-sm">Additional Notes </h6>
                    <span class="notes text-sm">{{ purchase_order.notes }}</span>
                    <br>
                    {% endif %}
                    {% if purchase_order.approval_notes %}
                        <h6 class="mt-2  text-sm">Approval Notes </h6>
                        <span class="approval_notes text-sm">{{ purchase_order.approval_notes }}</span>
                    {% endif %}
                    {% if purchase_order.document %}
                        <br><br>
                        <h6 class=" text-sm">Document: </h6>
                        <a href="{{purchase_order.document.url.0}}" class="text-sm">{{purchase_order.document.name}}</a>
                    {% endif %}
                </div>
                <div class="col-lg-3 col-12 col-md-6 mt-5 mt-md-0 text-end">
                    <div class="row mb-2 justify-content-between">
                        <div class="col-6 text-end"><span class="text-md">Sub Total</span></div>
                        <div class="col-6 text-end"><span class="text-dark font-weight-bold">£{{ purchase_order.sub_total }}</span></div>
                    </div>
                    <div class="row mb-2 justify-content-between">
                        <div class="col-6 text-end"><span class="text-md">Discount</span></div>
                        <div class="col-6 text-end"><span class="text-dark font-weight-bold">£{{ purchase_order.discount }}</span></div>
                    </div>
                    <div class="row mb-4 justify-content-between">
                        <div class="col-6 text-end"><span class="text-md">Tax ({{ purchase_order.tax }}%):</span></div>
                        <div class="col-6 text-end"><span class="text-dark font-weight-bold">£{{ purchase_order.tax_price }}</span></div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6 text-end"><span class="font-weight-bolder grand-total-value">Total</span></div>
                        <div class="col-6 text-end"><span class="text-dark font-weight-bold grand-total-value">£{{ purchase_order.total_amount }}</span></div>
                    </div>
                </div>
            </div>

            {% if invoice_item_list %}
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="col-lg-3 col-md-6 col-12">
                        <h6 class="mb-3">Invoices</h6>
                        <div class="timeline timeline-one-side">
                        
                        {% for invoice_item in invoice_item_list %}
                        <div class="timeline-block mb-3">
                            <span class="timeline-step">
                            <i class="ni ni-check-bold text-success text-gradient"></i>
                            </span>
                                <div class="timeline-content">
                                    <a href="#" class="invoice-link" data-invoice="{{ invoice_item.id }}" data-po="{{purchase_order.id}}">
                                        {{invoice_item.invoice_number}}</a>
                                    </h6>
                                        <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{invoice_item.invoice_date|date:"d/m/Y"}}</p>
                                    </div>
                                </div>
                        {% endfor %}
                            </div>
                        </div>
                    </div>
                   
                    </div>
                </div>
            {% endif %}
            
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center trt-md" id="invoiceModalLabel">Invoice Details</h5>
                
            </div>
            <div class="modal-body" id="modalContent">
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>
   
{% endblock %}
{% block extra_js %}
<!-- JavaScript to handle modal and AJAX -->
<script>
    const invoiceLinks = document.querySelectorAll('.invoice-link');
    const modal = new bootstrap.Modal(document.getElementById('invoiceModal'));
    const modalContent = document.getElementById('modalContent');
   
    invoiceLinks.forEach(link => {
        link.addEventListener('click', (event) => {
            event.preventDefault(); // Prevents the default link behavior

            const invoiceNumber = link.getAttribute('data-invoice');
            const po_id = link.getAttribute('data-po');

            // Make an AJAX request to fetch invoice item details
            fetch(`/purchase_order/invoice/view/${po_id}/${invoiceNumber}/`).then(function (response) {
                console.log(response)
                // Check if the network response is successful
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
                }).then(function (data) {

                    responsedata= data.data
                    // Use data.invoice_item to populate the modal content
                    modalContent.innerHTML = `
                    <table class="custom-table mb-4" style="width: 100%; text-sm">
                                    <thead>
                                        <tr class="text-sm">
                                            <th>Item Name</th>
                                            <th>Unit Price</th>
                                            
                                            <th>Quantity</th>
                                            <th>Received Inventory</th>
                                           
                                            
                                        </tr>
                                    </thead>
                                    <tbody class="text-sm">
                                        ${responsedata.purchase_order_items.map(item => `
                                            <tr>
                                                <td>${item.item_name}</td>
                                                <td>${item.unit_price}</td>
                                                <td>${item.quantity}</td>
                                                <td>${item.received_inventory}</td>
                                               
                                               
                                                
                                            </tr>
                                        `).join('')}
                                    </tbody>
                                </table>
                                <div>
                                <h6 class="mb-2 text-sm">Comments</h6>
                                <p class="text-sm">${responsedata.comments}</p>
                                <a href="${responsedata.presigned_url[0]}" class="mt-5" target="_blank">${responsedata.file_name}</a>
                            </div>
                            `;
                   

                    // Show the modal
                    modal.show();
                })
                .catch(error => {
                    console.error('Error fetching invoice item:', error);
                });
            });
    });
</script>

{% endblock %}