{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link id="pagestyle" href="{% static '/assets/css/slider.css' %}" rel="stylesheet" />
{% endblock %}
{% load rest_framework %}
{% block title %}FRA Quotation List{{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% load requirement_tag %}
{% include 'components/alert.html' %}
<div class="container-fluid mt-2">
    <div class="row align-items-center">
        <div class="col-lg-12 col-sm-8">
            <div class="nav-wrapper position-relative end-0">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if  'fra/quotation/report/' in request.path %}active {% endif %}" href="{% url 'view_customer_fra_list_report' customer_id %}">Reports </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if  'fra/quotation/list/' in request.path %}active {% endif %}" href="{% url 'view_customer_quotation_list' customer_id %}">Quotation</a>
                
                </li>
            
              </ul>
            </div>
        </div>
      </div>
    <div class="col-lg-12 mt-4">
         <!-- Card Basic Info -->
        <div class="card" id="basic-info">
            <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-5 col-12 mb-lg-0 mb-3">
                    <h4 class="mb-0">Quotation List</h4>
                    {% include 'customer_info.html' %}
                </div>
            </div>
            </div>
      
            <div class="card-body px-0 pb-0">
                <table class="table table-flush text-dark" id="report-requirement-list">
                    <thead class="thead-light">
                        <tr class="text-sm">
                            <th>Action</th>
                            <th>Description</th>
                            <th>Quantity Surveyor</th>
                            <th>Surveyor</th>
                            <th>Status</th>
                            
                            {% if request.user|has_update_permission:"fire_risk_assessment" or request.user|has_add_permission:"fire_risk_assessment" or request.user|has_delete_permission:"fire_risk_assessment" or request.user|has_view_permission:"fire_risk_assessment" %}
                            <th class="custom-last-column">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="ml-4">
                        {% for quotation in quotation_list %}
                        <tr class="text-sm">
                            <td>{{ quotation.requirement_id.action|truncatechars:30}}</td>
                            <td>{{ quotation.requirement_id.description|truncatechars:30}}</td>
                            <td class="text-sm">{{quotation.requirement_id.quantity_surveyor.first_name|default:''|title}}
                                {{quotation.requirement_id.quantity_surveyor.last_name|default:''|title}}
                            </td>
                            <td class="text-sm">{{quotation.requirement_id.surveyor.first_name|default:''|title}} {{quotation.requirement_id.surveyor.last_name|default:''|title}}</td>
                            <td class="text-sm">{{quotation.get_status_display}}</td>

                            {% if request.user|has_update_permission:"fire_risk_assessment" or request.user|has_add_permission:"fire_risk_assessment" or request.user|has_delete_permission:"fire_risk_assessment" or request.user|has_view_permission:"fire_risk_assessment" %}
                            <td>
                                <div class="dropstart ms-auto pe-0">
                                    <a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog text-secondary" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2">
                                        {% if quotation.pdf_path and quotation.status != "draft" %}
                                        <li> <a href="{{quotation.pdf_path|get_quotation_pdf_path}}" class="dropdown-item border-radius-md" download="">
                                            Download
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li> 
                                            <a href="{% url 'customer_quotation_view' quotation.requirement_id.customer_id.id quotation.id %}" class="dropdown-item border-radius-md">
                                            View 
                                            </a>
                                        </li>
                                        {% if quotation.status == "draft" or quotation.status == "send_for_approval" %} 
                                        <li> 
                                            <a href="{% url 'edit_customer_estimation' quotation.requirement_id.customer_id.id quotation.id %}" class="dropdown-item border-radius-md">
                                                {% if quotation.status == "send_for_approval" %}  Approve {% else %} Edit {% endif %}
                                            </a>
                                        </li>
                                        {% endif %}
                                </ul>
                            </td>

                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div> 
        </div>
    </div>
</div>

  
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>



     if (document.getElementById('report-requirement-list')) {
        const dataTableSearch = new simpleDatatables.DataTable("#report-requirement-list", {
          searchable: true,
          fixedHeight: false,
          perPage: 10,
      });

    

      
      const searchInput = document.getElementById('searchInput');
      const createreportButton = document.getElementById('createreportButton');

      searchInput.addEventListener('input', function () {
          const searchText = searchInput.value.toLowerCase();
          dataTableSearch.search(searchText).draw();
      });
     }




</script>
{% endblock %}