{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<style>
  .custom-table th,
  .custom-table td {
    border: 1px solid #dee2e6;
    padding: 8px;
  }

  table>tbody>tr>td>a>p {
    margin-bottom: 0 !important;
  }
</style>
{% endblock %}
{% load rest_framework %}
{% block title %}Quotation View {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% load requirement_tag %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row mb-3">
              <div class="col-6">
                <h4 class="mb-0">Quotation</h4>
              </div>
              <div class="col-6 text-end">
                {% include 'components/back_button.html' %}
                {% if queryset.status == 'quoted' %}
                  <button class="btn btn-sm bg-gradient-primary mb-0" data-bs-toggle="modal" data-bs-target="#sendForApprovalModal">Send For Approval</button>
                {% endif %}
                {% if queryset.status == 'awaiting-approval' %}
                  <button class="btn btn-sm bg-gradient-primary mb-0" data-bs-toggle="modal" data-bs-target="#approvalModal">I Approve This
                    Quotation</button>
                {% endif %}
              </div>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="row justify-content-between mb-4">
            <div class="col-md-6 text-start">
              <h6 class="text-sm">
                Infinity Fire Prevention Ltd Infinity House
              </h6>
              <p class="text-sm text-secondary d-block mt-2 mb-0">38 Riverside, Sir Thomas Longley Road<br>
                Medway City Estate, Rochester Kent .ME24D
              </p>
              <p class="text-sm text-secondary d-block mt-2 mb-0">Tel: 03300102203</p>
              <p class="text-sm text-secondary d-block mt-2 mb-0">Fax: 03300102204</p>
              <p class="text-sm text-secondary d-block mt-2 mb-0">Email: <a
                  href="mailto:customer@example.com">enquiries@infinityfireprevention.com</a></p>
            </div>

            <div class="col-lg-4 col-md-7 text-start">
              <div class="row mb-2">
                <div class="col-5 text-sm text-start"><strong>Client:</strong></div>
                <div class="col-7 text-sm">{{ customer_data.first_name|title }} {{ customer_data.last_name|title }}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-5 text-sm text-start"><strong>Client Address:</strong></div>
                <div class="col-7 text-sm">
                  {{ customer_address.address }}
                  {% if customer_address.town %}
                  {{ customer_address.town }},
                  {% endif %}
                  {% if customer_address.county %}
                  {{ customer_address.county }},
                  {% endif %}
                  {% if customer_address.country %}
                  {{ customer_address.country }},
                  {% endif %}
                  {% if customer_address.post_code %}
                  {{ customer_address.post_code }}
                  {% endif %}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-5 text-sm text-start"><strong>Job Address:</strong></div>
                <div class="col-7 text-sm">
                  {% if requirement_instance.site_address.town %}
                  {{ requirement_instance.site_address.town }},
                  {% endif %}
                  {% if requirement_instance.site_address.county %}
                  {{ requirement_instance.site_address.county }},
                  {% endif %}
                  {% if requirement_instance.site_address.country %}
                  {{ requirement_instance.site_address.country }},
                  {% endif %}
                  {% if requirement_instance.site_address.post_code %}
                  {{ requirement_instance.site_address.post_code }}
                  {% endif %}
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-5 text-sm text-start"><strong>UPRN:</strong></div>
                <div class="col-7 text-sm">{{ requirement_instance.site_address.UPRN|default:"-" }}</div>
              </div>
              <div class="row mb-2">
                <div class="col-5 text-sm text-start"><strong>Job Number:</strong></div>
                <div class="col-7 text-sm">{{ requirement_instance.RBNO|default:'-'|title }}</div>
              </div>
              <div class="row">
                <div class="col-5 text-sm text-start"><strong>Reference Number:</strong></div>
                <div class="col-7 text-sm">IFP-{{ queryset.id }}</div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-sm">
                      <th scope="col" class="text-start">SOR Code</th>
                      <th scope="col" class="text-start">Defect Action</th>
                      <th scope="col" class="text-start">Defect Rectification</th>
                      <th scope="col" class="text-start">SOR Description</th>
                      <th scope="col" class="text-start">Category</th>
                      <th scope="col" class="text-start">Price(£)</th>
                      <th scope="col" class="text-start">Quantity</th>
                      <th scope="col" class="text-start">Total Price(£)</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for defect_key, value in queryset.quotation_json.defectSorValues.items %}
                    {% for inner_key, item in value.items %}
                    <tr class="text-sm">
                      <td class="text-start">{{ item.sor_items.reference_number }}</td>
                      <td class="text-start"><span class="text-wrap">{{defect_key|get_defect_action|safe}}</span></td>
                      <td class="text-start"><span class="text-wrap">{{defect_key|get_defect_rectification|safe}}</span></td>
                      <td class="text-start">{{ item.sor_items.description|safe }}</td>
                      <td class="text-start">{{ item.sor_items.category_id }}</td>
                      <td class="text-start">{{ item.sor_items.price }}</td>
                      <td class="text-start">{% if item.quantity %}{{ item.quantity }}{% else %}1{% endif %}</td>
                      <td class="text-start">{% if item.total_price %}{{ item.total_price }}{% else %}{{ item.sor_items.price }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
        </div>
        <div class="card-footer  mt-2">
          <div class="row">
            <div class="col-lg-12 text-end">
              <h5>Total(£) : {{queryset.total_amount}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if queryset.status == 'quoted' %}
  <div class="modal fade" id="sendForApprovalModal" tabindex="-1" aria-labelledby="sendForApprovalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="sendForApprovalModalLabel">Confirmation</h1>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          The customer will receive an email asking for approval for this Quotation. Make sure you've included all the
          necessary details. This action cannot be undone.  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-secondary btn-sm mb-0" data-bs-dismiss="modal">Close</button>
          <a href="{% url "send_estimation_for_approval" requirement_instance.customer_id.id queryset.id %}" class="btn bg-gradient-primary btn-sm mb-0">Send</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if queryset.status == 'awaiting-approval' %}
  <div class="modal fade" id="approvalModal" tabindex="-1" aria-labelledby="approvalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="approvalModalLabel">Confirmation</h1>
          <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to Approve this Quotation?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gradient-secondary btn-sm mb-0" data-bs-dismiss="modal">No</button>
          <a href="{% url "approve_estimation" requirement_instance.customer_id.id queryset.id %}" class="btn bg-gradient-primary btn-sm mb-0">Yes</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}