{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://ifp-static-dev.s3.eu-west-2.amazonaws.com/static/infinity-ingrid.png">
    <title>
        {% block title %} - Infinity Fire Solutions {% endblock %}
    </title>
    <!-- Fonts and icons -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Nucleo Icons -->
    <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'assets/css/soft-ui-dashboard.css' %}" rel="stylesheet" /> 
     <!-- Custom CSS Files -->
     <link id="pagestyle" href="{% static 'assets/css/custom.css' %}" rel="stylesheet" />
  {% block extra_css %}{% endblock %}
</head>

<body>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        {% include 'components/alert.html' %}
          <div class="container">
            <div class="row">
              <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                  <div class="position-relative text-center mt-5">
                    <img class="max-width-220 w-70 position-relative z-index-2 text-center" src="{% static 'assets/img/logo2.png' %}" alt="chat-img">
                  </div>
                {% block content %}{% endblock %}
                
              </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                <img src="{% static 'assets/img/shapes/pattern-lines.svg' %}" alt="pattern-lines" class="position-absolute opacity-4 start-0">
                <div class="position-relative">
                  <img class="max-width-300 w-100 position-relative z-index-2" src="{% static 'assets/img/test.png' %}" alt="rocket">
                </div>
                <h4 class="mt-5 text-white font-weight-bolder">Your journey starts here</h4>
                <p class="text-white">Whatever the nature of your building, our aim is to provide our clients with an efficient and cost-effective products and services which exceed all their expectations. Our passive fire prevention services simply provide a total solution which entails one point of contact that is available throughout the year 24/7.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    </main>


    <!-- Footer -->
    <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script>
      var passwordToggleIcons = document.querySelectorAll('.password-toggle');

      for (var i = 0; i < passwordToggleIcons.length; i++) {
        passwordToggleIcons[i].addEventListener('click', togglePasswordVisibility);
      }

      function togglePasswordVisibility() {
        var passwordInput = this.parentNode.parentNode.querySelector('input[type="password"]');
        
        var eyeIcon = this;
        if (passwordInput) {
              if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              eyeIcon.classList.remove('fa-eye-slash');
              eyeIcon.classList.add('fa-eye');
            }
            else {
              passwordInput.type = 'password';
              eyeIcon.classList.remove('fa-eye');
              eyeIcon.classList.add('fa-eye-slash');
            }
        }
        else {
            var passwordInput = this.parentNode.parentNode.querySelector('input[type="text"]');
              passwordInput.type = 'password';
              eyeIcon.classList.remove('fa-eye');
              eyeIcon.classList.add('fa-eye-slash');
            }
        
        
      }
    </script>

   <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages, etc -->
    <script src="{% static 'assets/js/soft-ui-dashboard.min.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>

</html>
