{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %} Customer Site Address {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
{% include 'customer_management/customer_actions.html' %}
<div class="container-fluid my-3 py-3">
  <div class="row">
     <div class="col-lg-12">
    <!-- Card Basic Info -->
        <div class="card" id="basic-info">
            <div class="card-header">
              <h5>Site Address </h5>
            </div>
            <div class="card-body pt-0">
              <form role="form"  method="POST" autocomplete="off" >
                  <div class='row'>
                      {% csrf_token %}
                      {% render_form serializer %}
                  </div>
                  <button class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2">Save</button>
                  <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'customer_billing_address' customer_instance.id %}">Back</a>
 
              </form>
            </div>
        </div>
        <div class="card mt-4" id="basic-info">
            <table class="table table-flush text-dark" id="site-address-list">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Town</th>
                        <th>County</th>
                        <th>Country</th>
                        <th>Post Code</th>
                        <th class="custom-last-column">Actions</th>
                    </tr>
                </thead>
                <tbody class="ml-4">
                    {% for site_address in site_address_list %}
                    <tr class="text-sm">
                        <td>{{ site_address.site_name|default:''|truncatechars:20 }}</td>
                        <td >{{ site_address.address|default:''|truncatechars:20|title }}</td>
                        <td>{% if site_address.town %}{{ site_address.town.name|title }}{% endif %}</td>
                        <td>{% if site_address.county %}{{ site_address.county.name|title}}{% endif %}</td>
                        <td>{{ site_address.country|default:''|title }}</td>
                        <td>{{ site_address.post_code|default:'' }}</td>
                        <td> 
                          <div class="dropstart ms-auto pe-0">
                            <a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown" aria-expanded="false">
                               <i class="fa fa-ellipsis-h text-secondary" aria-hidden="true"></i>
                             </a>
                             <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2">
                              {% if request.user|has_update_permission:"customer" %}
                              <li>
                                <a href="{% url 'customer_site_address_edit' customer_instance.id site_address.id %}" class="dropdown-item border-radius-md">
                                  Edit
                              </a>
                              </li>
                              {% endif %}
                              {% if request.user|has_delete_permission:"customer" %}
                              <li>
                                <a href="#" type="button" class="dropdown-item border-radius-md"
                                onclick="CustomconfirmDelete({{customer_instance.id}}{{site_address.id}}, 'Are you sure you want to delete this site address??','The site address has been deleted successfully.','{% url 'customer_site_address_delete' customer_instance.id site_address.id %}')">
                                   Delete
                                </a>
                              </li>
                              {% endif %}
                            </ul>
                          </div>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/custom_country.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script>
  if (document.getElementById('site-address-list')) {
    const dataTableSearch = new simpleDatatables.DataTable("#site-address-list", {
      searchable: true,
      fixedHeight: false,
      perPage: 10
    });

  };
</script>
{% endblock %}