{% extends 'base.html' %}
{% load static %}
{% block title %} Site Address Details {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header pb-0">
          <div class="d-lg-flex justify-content-between">
            <div>
              <h4 class="mb-0">Site Address Details</h4>
            </div>
            <div class="ms-auto my-auto mt-lg-0 mt-4">
              <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-3" href="{% url 'customer_site_address' customer_id %}">Back</a>
            </div>
          </div>
        </div>
        <div class="card-body px-4">
                 <div class="row">
                        <div class="col-2">
                          <label>Address:</label>
                        </div>
                        <div class="col-6">
                          <p>{{ serializer.data.address }}</p>
                        </div>
                    </div>
               

                    <div class="row">
                        <div class="col-2">
                              <label>Site Name:</label>
                            </div>
                            <div class="col-6">
                              <p>{{ serializer.data.site_name }}</p>
                            </div>
                        </div>
                     
                                        <div class="row">
                                            <div class="col-2">
                                            <label>Post Code:</label>
                                            </div>
                                            <div class="col-6">
                                            <p>{{ serializer.data.post_code }}</p>
                                          </div>
                                        </div>

                    
                                    <div class="row">
                                        <div class="col-2">
                                        <label>Complete Address:</label>
                                        </div>
                                        <div class="col-6">
                                        <p>{{ serializer.data.full_address }}</p>
                                      </div>
                                    </div>

                                 
                                {% comment %} <div class="row">
                                    <div class="col-2">
                                    <label>County:</label>
                                    </div>
                                    <div class="col-6">
                                    <p>{{ serializer.data.county }}</p>
                                  </div>
                                </div>

                             
                            <div class="row">
                                <div class="col-2">
                                <label>Town:</label>
                                </div>
                                <div class="col-6">
                                <p>{{ serializer.data.town }}</p>
                              </div>
                            </div> {% endcomment %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}