{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}
{% block title %}Requirement Defects {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid my-3 py-3">
    <div class="row mt-4">
        {% include 'requirement_management/requirement_actions.html' %}
        <div class="col-lg-9 mt-lg-0">
            {% include 'components/alert.html' %}
            {% include 'customer_management/customer_info.html' %}
            <!-- Card Basic Info -->
            <div class="card" id="basic-info">
                <div class="card-header">
                    <h5>Add Defects</h5>
                </div>
                <div class="card-body pt-0">
                    <form role="form" method="POST" autocomplete="off" enctype="multipart/form-data">
                        <div class='row'>
                            {% csrf_token %}
                            {% render_form serializer %}
                        </div>
                       
                        {% if serializer.data.document_paths and  defect_instance %}
                            {% for document in serializer.data.document_paths %}
                                <div class="col-lg-12">
                                    <div style="position: relative;">
                                    <a href="{{ document.presigned_url }}" download>
                                        <span class="text-sm me-2">{{ document.filename }}</span>
                                    </a>
                                    <a href="#" class="delete-icon" onclick="CustomconfirmDelete('{{requirement_instance.id}}{{defect_instance.id}}  {{document.id}}',
                                            'Are you sure you want to delete this requirement defect document?','The requirement defect document has been deleted successfully.',
                                            '{% url 'remove_requirement_defect_document' defect_instance.id  document.id %}')" class="delete-link ms-2" data-title="{{ requirement_instance.title}}">
                                            <i class="fas fa-times-circle text-danger">  </i> 
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <button class="btn bg-gradient-dark btn-sm float-end mt-4 mb-0">Save</button>

                    </form>
                </div>
            </div>
            <div class="card mt-4" id="basic-info">
                <div class="table-responsive">
                    <table class="table table-flush text-dark" id="defect-requirement-list">
                        <thead class="thead-light">
                            <tr>
                                <th>Action</th>
                                <th>Description</th>
                                <th>Defect Period</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Opts</th>
                            </tr>
                        </thead>
                        <tbody class="ml-4">
                            {% for defect in defects_list %}
                            <tr>
                                <td>{{ defect.action|truncatewords_html:10 }}</td>
                                <td class="text-truncate" style="max-width: 150px;">{{ defect.description|safe|truncatewords_html:10 }}</td>
                                <td>{{ defect.defect_period }}</td>
                                <td>{{ defect.due_date }}</td>
                                <td>{{ defect.status|title }}</td>
                                <td>
                                    <a href="{% url 'requirement_defect_update' requirement_instance.id defect.id %}" data-bs-toggle="tooltip"
                                        data-bs-original-title="Edit Contact">
                                        <i class="fas fa-edit text-secondary"></i>
                                    </a>
                                    <a href="#" type="button" class="mx-3" data-bs-toggle="tooltip"
                                        data-bs-original-title="Delete Contact"
                                        onclick="CustomconfirmDelete({{defect.id}}, 'Are you sure you want to delete this requirement defect?','The requirement defect has been deleted successfully.','{% url 'requirement_defect_delete' defect.id %}')">
                                        <i class="fas fa-trash text-secondary"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/custom_country.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script>
    if (document.getElementById('defect-requirement-list')) {
        const dataTableSearch = new simpleDatatables.DataTable("#defect-requirement-list", {
            searchable: true,
            fixedHeight: false,
            perPage: 10
        });

    }
</script>
{% endblock %}