{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link id="pagestyle" href="{% static '/assets/css/slider.css' %}" rel="stylesheet" />
<style>
  th, td {
    border: 1px solid #ddd; /* Add a border to table cells */
    padding: 8px; /* Adjust cell padding as needed */
    text-align: left;
}

/* Style for the last td element in each row */
.table tr td:last-child {
    border: 1px solid #ddd; /* Change the color and width as needed */
}
.table> :not(:last-child)> :last-child>*{
    border: 1px solid #ddd !important; /* Change the color and width as needed */  
}
.table tbody tr:last-child td {
    border: 1px solid #ddd !important;
}
table > tbody > tr > td > a > p{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > a > ul{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > a > b{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > a > i{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > p{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > ul{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > b{
    margin-bottom: 0 !important;
  }
  table > tbody > tr > td > i{
    margin-bottom: 0 !important;
  }
</style>
{% endblock %}
{% load rest_framework %}
{% block title %}FRA Reports {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
    <div class="row align-items-center mb-2">
        <div class="card h-100">
            <div class="card-header pb-0">
                <div class="row justify-content-between mb-3">
                    <div class="col-6">
                        <h4 class="mb-0">Report Survey Form</h4>
                    </div>
                    <div class="col-6 text-end">
                        {% include 'components/back_button.html' %}
                        {% if report_instance.pdf_url %}
                        <a class="btn bg-gradient-primary btn-sm mb-0 mx-2" 
                            href="{{report_instance.pdf_url}}" download="">Download PDF</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
            <h4 class="text-center" style="text-align: center;">Fire Risk Assessment Report</h4>
            <h6 class='section-header text-center' style="text-align: center;">{{ requirement_instance.customer_id.company_name|title}} Survey Form </h6>
                <table class="table table-striped  text-sm  mt-4" id="fire_risk_assessment_report">
                    <tbody> <!-- Use thead for table headers -->
                        <tr>
                            <th>Client</th>
                            <td>{{ requirement_instance.customer_id.first_name }} {{ requirement_instance.customer_id.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Site Address</th>
                            <td>
                                {{ requirement_instance.site_address.site_name|default:'-'|truncatechars:20 }},
                                {{ requirement_instance.site_address.address|default:'-'|truncatechars:20|title }},
                                {{ requirement_instance.site_address.town|default:'-'|title }},
                                {{ requirement_instance.site_address.county|default:'-'|title }},
                                {{ requirement_instance.site_address.country|default:'-'|title }},
                                {{ requirement_instance.site_address.post_code|default:'-' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Job Number</th>
                            <td>{{ requirement_instance.RBNO|default:'-'|title }}</td>
                        </tr>
                        <tr>
                            <th>UPRN</th>
                            <td>{{ requirement_instance.UPRN|default:'-'|title }}</td>
                        </tr>
                    </tbody>
                    <tbody> <!-- Use tbody for table body -->
                        {% if requirement_instance %}
                            <tr>
                                <th>FRA Action </th>
                                <td class="text-wrap  text-sm">{{ requirement_instance.action|safe }}</td>
                            </tr>
                            <tr>
                                <th>FRA Description </th>
                                <td class="text-wrap  text-sm">{{ requirement_instance.description|safe }}</td>
                            </tr>

                            <tr>
                                <th>Photos of FRA</th>
                                <td>
                                    <div class="image-container row">
                                        {% for requirement_image in document_paths %}
                                        <div class="col-3 mb-3">
                                            <img src="{{ requirement_image.presigned_url }}" alt="Requirememt Image" width="90%" class="img-thumbnail">
                                        </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                <h5 class='section-header'>Defects</h5>
                {% for defect in requirement_defects %}
                <table class="table table-striped " id="fire_risk_assessment_report">
                    <tbody> <!-- Use tbody for table body -->
                        <tr class=" text-sm">
                            <th>Action</th>
                            <td class="text-wrap  text-sm">{{ defect.action|safe }}</td>
                        </tr>
                        <tr class=" text-sm">
                            <th>Description of Defect</th>
                            <td class="text-wrap  text-sm">{{ defect.description|safe }}</td>
                        </tr>
                        <tr class=" text-sm">
                            <th>Rectification of Defect</th>
                            <td class="text-wrap text-sm">{{ defect.rectification_description|safe }}</td>
                        </tr>
                        <tr class=" text-sm">
                            <th>Defect Type</th>
                            <td>{{ defect.get_defect_type_display}}</td>
                        </tr>
                        
                        {% if requirement_defect_images %}
                        <tr class=" text-sm">
                            <th>Photos of Defect</th>
                            <td>
                                <div class="image-container row">
                                    {% for requirement_defect_image in requirement_defect_images %}
                                        {% if requirement_defect_image.defect_id.id == defect.id %}
                                        <div class="col-3 mb-3">
                                                <img src="{{ requirement_defect_image.document_path.url }}" alt="Defect Image" width="900%" class="img-thumbnail">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    <tbody>
                </table>
                {% endfor %}
                    <h5 class='section-header'>Note</h5>
                    <table class="table table-striped " id="fire_risk_assessment_report">
                    <tbody>
                        {% if report_instance.comments %}
                        <tr class=" text-sm">
                            <th>Report Comments</th>
                            <td class="text-wrap text-sm">{{ report_instance.comments|safe }}</td>
                        </tr>
                        {% endif %}
                        {% if report_instance.signature_path %}
                        <tr class="text-sm">
                            <th><strong>Signature</strong></th>
                            <td><img src="{{report_instance.signature_path}}"></td>
                        </tr>
                        {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>

{% endblock %}