{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link id="pagestyle" href="{% static '/assets/css/slider.css' %}" rel="stylesheet" />
<style>
    .table td {
        white-space: normal; /* Use 'normal' to allow text wrapping */
    }
     /* Style for table borders */
     .table-bordered tr:not(:last-child) {
        border: 1px solid #000; /* Change the color and width as needed */
    }

    .table-bordered td {
        border: 1px solid #000; /* Change the color and width as needed */
    }
</style>
{% endblock %}
{% load rest_framework %}
{% block title %}FRA Reports {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
<div class="container-fluid my-3 py-3">
    <div class="row align-items-center mb-2">
        <div class="col-lg-12 col-sm-8">
            {% if report_instance.pdf_url %}
            <a class="btn bg-gradient-primary btn-sm float-end mt-2 mb-0 mx-2" 
            href="{{report_instance.pdf_url}}" download="">Download PDF</a>
            {% endif %}
            <a class="btn bg-gradient-secondary btn-sm float-end mt-2 mb-0" href="{% url 'customer_requirement_reports' customer_id requirement_instance.id %}">Back</a>
            

        </div>
    </div>
    
    <div class="card h-100">
        <div class="card-header pb-0">
            <h5>FRA Actions</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left Column with Media Carousel -->
                <div class="col-md-5">
                    <div class="sticky-md-top product-sticky">
                        <div id="carouselExampleCaptions" class="carousel slide ecomm-prod-slider" data-bs-ride="carousel">
                            <div class="carousel-inner bg-light rounded">
                                {% for item in document_paths %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="zoomable-media">
                                        {% if item.is_image %}
                                        <img src="{{ item.presigned_url }}" class="d-block zoomable-image" alt="Product Image">
                                        <div class="zoom-controls">
                                            <i class="fas fa-plus zoom-in-button m-2"></i>
                                            <i class="fas fa-minus zoom-out-button mx-2"></i>
                                            <i class="fas fa-sync-alt reset-button mx-2"></i>
                                        </div>
                                        {% endif %}
                                        {% if item.is_video %}
                                        <video controls class="d-block zoomable-video">
                                            <source src="{{ item.presigned_url }}" type="video/mp4">
                                        </video>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <ol class="carousel-indicators position-relative product-carousel-indicators my-sm-3 mx-0 mt-0">
                                {% for item in document_paths %}
                                {% if item.is_image %}
                                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="w-25 h-auto {% if forloop.first %}active{% endif %}">
                                    <img src="{{ item.presigned_url }}" class="d-block wid-100 rounded border me-4" alt="Product media">
                                </li>
                                {% endif %}
                                {% if item.is_video %}
                                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="w-25 h-auto {% if forloop.first %}active{% endif %}">
                                    <video class="d-block wid-100 zoomable-video rounded border p-2">
                                        <source src="{{ item.presigned_url }}" type="video/mp4">
                                    </video>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Right Column with Action Details -->
                <div class="col-lg-7">
                    <div class="card-body p-0">
                        <div class="mb-3">
                            <b>Action</b>
                            <p class="text-sm mt-2" style="text-align: justify;">
                                {{ requirement_instance.action }}
                            </p>
                        </div>
                        <div class="mb-3">
                            <b>Description</b>
                            <p class="text-sm mt-2" style="text-align: justify;">
                                {{ requirement_instance.description }}
                            </p>
                        </div>
                        <hr class="horizontal gray-light">
                        <div class="mb-3">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><strong class="text-dark">Customer</strong></td>
                                        <td>{{ requirement_instance.customer_id.first_name|title }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong class="text-dark">Email</strong></td>
                                        <td>{{ requirement_instance.customer_id.email }}</td>
                                    </tr>
                                    {% if requirement_instance.UPRN %}
                                    <tr>
                                        <td><strong class="text-dark">UPRN</strong></td>
                                        <td>{{ requirement_instance.UPRN }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if requirement_instance.RBNO %}
                                    <tr>
                                        <td><strong class="text-dark">RBNO</strong></td>
                                        <td>{{ requirement_instance.RBNO }}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td><strong class="text-dark">Site Address</strong></td>
                                        <td>{{ requirement_instance.site_address|title }}</td>
                                    </tr>
                                    {% if requirement_instance.surveyor %}
                                    <tr>
                                        <td><strong class="text-dark">Surveyor</strong></td>
                                        <td>{{ requirement_instance.surveyor.first_name|title }} {{ requirement_instance.surveyor.last_name|title }}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for defect in report_instance.defect_id.all %}
    <div class="card mt-4 mx-0">
        <div class="card-header pb-0 mt-0">
            <h5 class="card-title">Defect - {{ forloop.counter }}</h5>
        </div>
        <div class="card-body mt-0">
            <table class="table text-sm ">
                <tbody>
                    <tr>
                        <td><strong>Action</strong></td>
                        <td>{{ defect.action }}</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{ defect.description }}</td>
                    </tr>
                    <tr>
                        <td><strong>Rectification</strong></td>
                        <td>{{ defect.rectification_description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
    <div class="card mt-4 mx-0">
        <div class="card-body mt-0">
            <table class="table text-sm ">
                <tbody>
                    <form id="selectForm" method="POST" onsubmit="showLoader()">
                        {% csrf_token %}
                        <tr>
                            <td class="col-2"><strong>Report Comments</strong></td>
                            <td><textarea name="comments" class="form-control" value="{% if report_instance.comments %}{{ report_instance.comments }}{% endif %}" required>{% if report_instance.comments %}{{ report_instance.comments }}{% endif %}
                            </textarea>
                            </td>
                        </tr>
                    
                        <tr>
                            <td><strong>Signature</strong></td>
                            <td><img src="{{report_instance.signature_path}}"></td>
                        </tr>
                    </form>
                </tbody>
            </table>
            <button  id="submit-button" class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2">Submit</button>
            {% if  report_instance.status == 'draft' %}
            <button  id="submit-darft-button"  class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2">Save As Draft</button>
            {% endif  %}
            {% include 'components/loader.html' %}
        
          
        </div>
    </div>
</div>    




{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script>

function showLoader() {
    loaderOverlay.classList.remove("d-none"); // Show the loader overlay
}

function hideLoader() {
    loaderOverlay.classList.add("d-none"); // Hide the loader overlay
}
// Assuming you have a button to submit the form

const submitButton = document.getElementById("submit-button");
const loaderOverlay = document.getElementById("loaderOverlay"); // Loader overlay element

{% if  report_instance.status == 'draft' %}
const draftButton = document.getElementById("submit-darft-button");
draftButton.addEventListener("click", function () {
    // Set the status to "draft"
    const formData = new FormData(document.getElementById("selectForm"));
    formData.append("status", "draft"); // Add status field with value "draft"
    showLoader(); // Show the loader overlay before submitting
    saveFormData(formData);
});
{% endif %}
submitButton.addEventListener("click", function () {
    // Set the status to "submit"
    const formData = new FormData(document.getElementById("selectForm"));
    formData.append("status", "submit"); // Add status field with value "submit"
    showLoader(); // Show the loader overlay before submitting
    saveFormData(formData);
});

function showLoader() {
    loaderOverlay.classList.remove("d-none"); // Show the loader overlay
}

function hideLoader() {
    loaderOverlay.classList.add("d-none"); // Hide the loader overlay
}

function saveFormData(formData) {
    // Define the URL for saving the data
    const saveUrl = "{% url 'requirement_report_edit' customer_id requirement_instance.id report_instance.id %}";
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // Send the data to the backend using fetch
    fetch(saveUrl, {
        method: "POST",
        body: formData,
        headers: {
            "X-CSRFToken": csrfToken // Include the CSRF token in the request headers
        }
    })
        .then(data => {
            // Hide the loader overlay after processing the response
            hideLoader();
            // Reload the page after processing the response
            window.location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
            // Hide the loader overlay in case of an error
            hideLoader();
        });
}


</script>
{% endblock %}