{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link id="pagestyle" href="{% static '/assets/css/slider.css' %}" rel="stylesheet" />
{% endblock %}
{% load rest_framework %}
{% block title %}FRA Reports{{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}
<div class="container-fluid py-4">
    {% include 'fra_view.html' %}
    <div class="row align-items-center mt-4">
      <div class="col-lg-12 col-sm-8">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'customer_requirement_view' customer_id requirement_instance.id %}"> Defects </a>
              </li>
              <li class="nav-item">
                {% if requirement_instance %}
                    <a class="nav-link active"  href="{% url 'customer_requirement_reports' customer_id requirement_instance.id %}" >Reports</a>
                {% else %}
                <a class="nav-link">Reports</a>
              
              </li>
              {% endif %}
            </ul>
          </div>
      </div>
    </div>
    <div class="card mt-4">
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div><h5 class="mb-0">Reports</h5></div>
          </div>
        </div>
  
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover text-dark" id="report-requirement-list">
                    <thead class="thead-light">
                        <tr class="text-sm">
                            <th class="col-3">User</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th>Created At</th>

                            {% if request.user|has_update_permission:"fire_risk_assessment" or request.user|has_add_permission:"fire_risk_assessment" or request.user|has_delete_permission:"fire_risk_assessment" or request.user|has_view_permission:"fire_risk_assessment" %}
                            <th class="custom-last-column">Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="ml-4">
                        {% for report in report_list %}
                        <tr class="text-sm">
                            <td>
                                <a href="{% url 'requirement_report_view' customer_id requirement_instance.id report.id %}" class="text-decoration-none w-100 nav-link">
                                  {{ report.user_id|truncatechars:30}}
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'requirement_report_view' customer_id requirement_instance.id report.id %}" class="text-decoration-none w-100 nav-link">
                                  {{ report.comments|truncatechars:30}}
                                </a>
                            </td>
                            <td class="text-sm">
                                <a href="{% url 'requirement_report_view' customer_id requirement_instance.id report.id %}" class="text-decoration-none w-100 nav-link">
                                  {{report.status|default:'-'|title}}
                                </a>
                            </td>
                            <td class="text-truncate">
                                <a href="{% url 'requirement_report_view' customer_id requirement_instance.id report.id %}" class="text-decoration-none w-100 nav-link">
                                  {{ report.created_at }}
                                </a>
                            </td>

                            {% if request.user|has_update_permission:"fire_risk_assessment" or request.user|has_delete_permission:"fire_risk_assessment" or request.user|has_view_permission:"fire_risk_assessment" %}
                            <td>
                                <div class="dropstart ms-auto pe-0">
                                    <a href="javascript:;" class="cursor-pointer" id="dropdownTable2" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog text-secondary" aria-hidden="true"></i>
                                    </a>
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable2">
                                        {% if report.status != "submitted" and request.user|has_update_permission:"fire_risk_assessment" %}
                                        <li> 
                                            <a href="{% url 'requirement_report_edit' customer_id requirement_instance.id report.id %}" class="dropdown-item border-radius-md">
                                                Edit
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if report.pdf_path  and report.status == "submitted" and request.user|has_view_permission:"fire_risk_assessment" %}
                                        <li> 
                                            <a href="{{report.pdf_path}}" class="dropdown-item border-radius-md" download>
                                            Download
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% if request.user|has_delete_permission:"fire_risk_assessment" %}
                                        <li>
                                            <a href="#" type="button" class="dropdown-item border-radius-md" onclick="CustomconfirmDelete({{ report.id }}{{ requirement_instance.id }}, 'Are you sure you want to delete this report?','The requirement report has been deleted successfully.','{% url 'requirement_report_delete' customer_id requirement_instance.id report.id %}')">
                                                Delete
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 

            {% if report_list.paginator.num_pages > 1 %}
            <div class="row justify-content-start justify-content-lg-between pagination-row">
                <div class="col-12 col-lg-6 align-self-center mb-2 mb-lg-0">
                    <div class="pagination-info mt-auto mb-auto">
                    Showing {{report_list.number}} of {{report_list.paginator.num_pages}} pages
                    </div>
                </div>
                <div class="col-12 col-lg-6 align-self-center">
                    <nav aria-label="Page navigation" class="mt-auto mb-auto">
                        <ul class="pagination justify-content-start justify-content-lg-end mb-0 ps-0">
                            {% if report_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ report_list.previous_page_number }}">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                            </li>
                            {% endif %} 
                            {% for i in report_list.paginator.page_range %}
                            {% if report_list.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                            </li>
                            {% else%}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endif %} 
                            {% endfor %} 
                            {% if report_list.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ report_list.next_page_number }}">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

  
{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
{% endblock %}