{% extends 'base.html' %}
{% load static %}
{% block title %} Fire Risk Assessment {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}

<div class="container-fluid py-4">
    <div class ="row">
        <div class="col-lg-6 mt-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Requirements</h5>
                        
                    {% comment %} <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label class="font-weight-bold">Reference Number</label>
                        <p>{{ requirement_instance.reference_number }}</p>
                    </div> {% endcomment %}

                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label class="font-weight-bold">Description</label>
                        <p>{{ requirement_instance.description|safe}}</p>
                    </div>

                    <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                        <label class="font-weight-bold">Site Address</label>
                        <p>{{ requirement_instance.site_address|safe}}</p>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="col-lg-6 mt-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="font-weight-bolder mt-4">Surveyers</h5>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <select name="surveyer" class="form-control col-lg-4">
                                    {% for surveyer in surveyers %}
                                        <option value="{{ surveyer.id }}">{{ surveyer }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <input type="hidden" name="requirement_id" value="{{ requirement }}">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Customer Details -->
            <div class="col-12 col-lg-12 mt-md-0 mt-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="font-weight-bolder">Customer Details</h5>
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <label class="font-weight-bold">Company Name</label>
                            <p>{{ requirement_instance.customer_id.company_name }}</p>
                        </div>
                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                            <label class="font-weight-bold">Customer Email</label>
                            <p>{{ requirement_instance.customer_id.email }}</p>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <label class="font-weight-bold">Customer Name</label>
                            <p>{{ requirement_instance.customer_id.first_name }}</p>
                        </div>
                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                            <label class="font-weight-bold">Site Address</label>
                            <p>{{ requirement_instance.site_address.address }}</p>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-12 col-sm-6">
                            <label class="font-weight-bold">Date and Time</label>
                            <p>{{ requirement_instance.requirement_date_time }}</p>
                        </div>
                        <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                            <label class="font-weight-bold">Reference Number</label>
                            <p>{{ requirement_instance.reference_number }}</p>
                        </div>
                        </div>
                        
                        

                    </div>
                </div>

                
            </div>


            <!-- Defect Details -->
            <div class="col-lg-12 mt-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="font-weight-bolder mt-4">Defect Tab</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Description</th>
                                    <th>Due Date</th>
                                    <th>UPRN</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for defect in requirement_defect %}
                                <tr>
                                    <td style="white-space: normal;">{{ defect.action }}</td>
                                    <td style="white-space: normal;">{{ defect.description | safe  | truncatechars:50}}</td>
                                    <td>{{ defect.due_date }}</td>
                                    <td>{{ defect.UPRN }}</td>
                                    <td>{{ defect.status }}</td>
                                    <td>
                                        <a href="#" data-bs-toggle="tooltip" data-bs-original-title="Detail">
                                        <i class="fas fa-eye text-secondary mx-4"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Defect Document -->
            <div class="col-lg-12 mt-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="font-weight-bolder mt-4">Documents</h5>
                        <!-- Content of the third div -->
                        {% for doc in requirement_document %}
                                <img src="{{ doc.document_path }}" alt="image" class="img-fluid">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
   
</div>

{% endblock %}
