{% extends 'base.html' %}
{% load static %}
{% block title %} FRA Actions {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% include 'components/alert.html' %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- Card header -->
        <div class="card-header pb-0">
          <div class="d-lg-flex">
            <div>
              <h4 class="mb-0">Customer List</h4>
            </div>
          </div>
          {% include 'components/table_search.html' %}
        </div>
        <div class="card-body px-0 pb-0">
          <div class="table-responsive">
            <table class="table table-flush text-dark" id="item-list">
              <thead class="thead-light">
                <tr>
                  <th>Customer Name</th>
                  <th>Company Name</th>
                  <th>Customer Email</th>
                  <th>Phone Number</th>
                  <th>FRA Counts</th>
                  <th class="custom-last-column">Actions</th>
                </tr>
              </thead>
              <tbody class="ml-4"> 
                {% for query_obj  in customers_with_counts %}
                    <tr class="text-sm">
                      <td>{{query_obj.customer.first_name|title}} {{query_obj.customer.last_name|lower}}</td>
                        {% comment %} <a href="{% url 'customer_requirement_list' query_obj.customer.id %}"> {% endcomment %}
                      <td>{{query_obj.customer.company_name|title}}</td>
                      <td>{{query_obj.customer.email}}</td>
                      <td >{{query_obj.customer.phone_number}}</td>
                      <td >{{query_obj.fra_counts}}</td>
                      <td class="text-center">
                        <div class="ms-auto pe-0">
                          {% if request.user|has_view_permission:"fire_risk_assessment" %}
                            <a href="{% url 'customer_requirement_list' query_obj.customer.id %}" class="cursor-pointer" aria-label="FRA Action">
                              <i class="fas fa-eye text-secondary" aria-hidden="true"></i>
                            </a>
                          {% endif %}
                        </div>
                      </td>
                      
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
{% block extra_js %}
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>
{% endblock %}
