{% extends 'base.html' %}
{% load static %}
{% block title %} RLO Form {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% load rest_framework %}
{% include 'components/alert.html' %}

{% block extra_css %}
<style>
  /* Add your custom styles here */
</style>
{% endblock %}

<div class="container-fluid my-3 py-3">
  <div class="row">
    <div class="col-lg-12">
      <!-- Card Basic Info -->
      <div class="card" id="basic-info">
        <div class="card-header">
          <h5>RLO Form</h5>
        </div>
        <div class="card-body pt-0">
          <form role="form" method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
            <div class='row'>
              {% csrf_token %}
              {% render_form serializer %}
            </div>

            <div class="error-message">
              <p class="text-secondary text-sm">Hint: You must select the sample template to add the RLO.</p>
            </div>

            <!-- Add a hidden input field for template_id -->
            <input type="hidden" name="template_id" id="templateId" >
            <input type="hidden" name="edited_content" id="editedContent">

            <button type="button" class="btn bg-gradient-primary btn-sm float-start mt-2 mb-0"
              data-bs-toggle="modal" data-bs-target="#templateModal">
              Sample Template
            </button>

            <button type="button" class="btn bg-gradient-dark btn-sm float-end mt-2 mb-0 mx-2" onclick="saveChanges()">
              Save
            </button>

            {% include 'components/back_button.html' %}
          </form>

          {% include 'components/loader.html' %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="templateModal" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="templateModalLabel">Select a Template</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="template-options">
            {% for template in templates %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="template_id" id="template{{ forloop.counter }}"
                value="{{ template.id }}">
              <label class="form-check-label" for="template{{ forloop.counter }}">
                {{ template.name }}
              </label>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
            Close
          </button>
          <button class="btn bg-gradient-dark btn-sm" onclick="openCompleteTemplate()">
            Open Complete Template
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="max-width:none;">
  <div class="row">
    <div class="col-6">
      <div class="section-header" id="editableHeader" style="display: none;background-color:#8fa0be66;
        border-radius:5px;padding:5px 5px 5px 5px;">
        <h5>Editable Format</h5>
      </div>

      <!-- CKEditor container -->
      <div id="editor" style="width: 100%; height: 100vh; height: 100vh; overflow: hidden; border: none; outline: none;"></div>
    </div>
    <div class="col-6">
      <div class="section-header" id="previewHeader" style="display: none;background-color:#8fa0be66;
        border-radius:5px;padding:5px 5px 5px 5px;">
        <h5>Final Preview</h5>
      </div>

      <!-- Final Preview iframe -->
      <iframe id="target" style="width:100%; height: 595px;"></iframe>

    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datatables.js' %}"></script>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/custom_delete.js' %}"></script>

<script>
    var csrf_token = "{{ csrf_token }}";
  </script>

<script>
    
  function openCompleteTemplate() {
    var selectedTemplateId = document.querySelector('input[name="template_id"]:checked').value;
    var templateIdField = document.getElementById('templateId');
    var editedContentField = document.getElementById('editedContent');

    if (!selectedTemplateId) {
      alert("Please select a template.");
      return;
    }

    templateIdField.value = selectedTemplateId;

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/work_planning/RLO/get_template_content/?template_id=' + selectedTemplateId, true);

    xhr.onload = function () {
      if (xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        var templateContent = response.template_content;

        var editorContainer = document.getElementById('editor');
        var editableHeader = document.getElementById('editableHeader');
        var previewHeader = document.getElementById('previewHeader');

        editorContainer.style.display = "block";
        editableHeader.style.display = "block";
        previewHeader.style.display = "block";

        // Initialize CKEditor
        CKEDITOR.replace('editor', {
            // Add any CKEditor configurations as needed
            toolbar: 'basic',
            height: 500,
            iconSize: 'small',  // Set the icon size to 'small'
          }).on('change', function () {
            change();
          });
        // Set the value of the CKEditor instance
        CKEDITOR.instances.editor.setData(templateContent);

        // Set the value in the hidden input field
        editedContentField.value = templateContent;

        // Trigger the change event to update the iframe
        change();

        // Close the modal
        $('#templateModal').modal('hide');
      } else {
        alert('Error fetching template content.');
      }
    };

    xhr.send();
  }

  // Function to strip HTML tags from a string
  function stripHtmlTags(html) {
    var div = document.createElement("div");
    div.innerHTML = html;
    return div.textContent || div.innerText;
  }

  // Handle the onchange event of both the CKEditor and editable format div
  function change() {
    var iFrame = document.getElementById('target');
    var iFrameBody;

    if (iFrame.contentDocument) {
      iFrameBody = iFrame.contentDocument.getElementsByTagName('body')[0];
    } else if (iFrame.contentWindow) {
      iFrameBody = iFrame.contentWindow.document.getElementsByTagName('body')[0];
    }

    // Get the content from CKEditor
    var editorContent = CKEDITOR.instances.editor.getData();

    // Update the content of the iframe
    iFrameBody.innerHTML = editorContent;
  }

  function saveChanges() {
    // Get the edited content from CKEditor
    var editedContent = CKEDITOR.instances.editor.getData();

    // Get the selected template ID
    var selectedTemplateId = document.getElementById('templateId').value;
     // Get the form data
  var formData = new FormData(document.querySelector('form'));
    // You can access the values of name and job fields using formData
    var name = formData.get('name');
    var job = formData.get('job');
  

    // You can send the edited content and template ID to the server using an AJAX request
    // For example, using jQuery AJAX
    $.ajax({
      type: "POST",
      url: "/work_planning/RLO/add/",
      data: {
        name: name,
        job: job,
        template_id: selectedTemplateId,
        edited_content: editedContent,
        csrfmiddlewaretoken: '{{ csrf_token }}',
        // Add any additional data if required by your view
      },
      success: function (response) {
        // Handle the success response, if needed
        console.log(response);
        // Redirect or perform any other actions as necessary
        window.location.href = '{% url "rlo_list" %}';
      },
      error: function (error) {
        // Handle the error, if needed
        console.log(error);
        // You might want to display an error message to the user
        alert("Error saving changes. Please try again.");
      },
    });
  }
</script>
{% endblock %}
