{% extends 'base.html' %}
{% load static %}
{% block title %} RLO Form {{ block.super }}{% endblock %}
{% block content %}
{% load custom_tags %}
{% load rest_framework %}
{% include 'components/alert.html' %}

{% block extra_css %}
<style>
  div.choices__inner{
    padding-top: 1px!important;
    padding-bottom: 0!important;
  }
  .choices__placeholder {
    opacity: 1;
  }
</style>
{% endblock %}

<div class="container-fluid my-3 py-3">
  <div class="row">
    <div class="col-lg-12">
      <!-- Card Basic Info -->
      <div class="card" id="basic-info">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-lg-6">
              <h5 class="mb-0">Create RLO</h5>
            </div>
            <div class="col-12 col-lg-6 text-end">
              {% include 'components/back_button.html' %}
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <form role="form" method="POST" id="addRLOForm" enctype="multipart/form-data">
            <div class='row'>
              {% csrf_token %}
              <input type="hidden" name="edited_content" id="editedContent">
              
              <div class="col-12 col-lg-6">
                <div>
                  <label for="rlo_name" class="form-label">RLO Name</label>
                  <input class="form-control" type="text" name="name" id="rlo_name">
                  {% if errors %}
                  <div class="help-block ps-1">
                    {% for fieldKey, fieldError in errors.items %}
                    {% if fieldKey == 'name' %}
                    {{fieldError}}
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div>
                  <label for="rlo-template-choices" class="form-label">RLO Template</label>
                  <select class="form-control" id="rlo-template-choices" name="base_template" placeholder="Base Template" required>
                    {% for rlo in default_rlo %}
                        <option value="{{rlo.id}}" {% if forloop.first%}selected{%endif%}>{{rlo.name}}</option>
                    {% endfor %}
                  </select>
                  {% if errors %}
                  <div class="help-block ps-1">
                    {% for fieldKey, fieldError in errors.items %}
                    {% if fieldKey == 'base_template' %}
                    {{fieldError}}
                    {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </form>

          <div class="row mt-3">
            <div class="col-6">
              <div class="section-header p-1 mb-2" id="editableHeader" style="background-color:#8fa0be66;">
                <h6>Editable Format</h6>
              </div>
        
              <!-- CKEditor container -->
              <div id="editor">
              </div>
              {% if errors %}
              <div class="help-block ps-1">
                {% for fieldKey, fieldError in errors.items %}
                {% if fieldKey == 'edited_content' %}
                {{fieldError}}
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="col-6">
              <div class="section-header p-1 mb-2" id="previewHeader" style="background-color:#8fa0be66;">
                <h6>Final Preview</h6>
              </div>
        
              <!-- Final Preview iframe -->
              <iframe id="target" style="width:100%; height: 595px;"></iframe>
        
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12 text-end">
              <button type="button" id="addRLOButton" class="btn bg-gradient-dark btn-sm mb-0" onclick="saveChanges()">
                Save
              </button>
            </div>
          </div>

          {% include 'components/loader.html' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/quill.min.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {

    let rlo_template_choices = null;

    if (document.getElementById('rlo-template-choices')) {
      var rlo_template_element = document.getElementById('rlo-template-choices');
      rlo_template_choices = new Choices(rlo_template_element, {
        default: false,
        items: [],
        choices: [],
        renderChoiceLimit: 10,
        maxItemCount: 1,
        searchEnabled: true,
        searchChoices: true,
        searchFloor: 1,
        searchResultLimit: 5,
        resetScrollPosition: true,
        shouldSort: true,
        shouldSortItems: false,
        searchFields: ['label'],
        duplicateItemsAllowed: false,
        removeItemButton: true,
        searchPlaceholderValue: "Search Base Template",
        placeholderValue: "Select Base Template",
        fuseOptions: {
          includeScore: true,
          includeMatches: true,
          threshold: 0, // Set to 0 for exact match
          location: 0,
          distance: 100,
          maxPatternLength: 32,
          minMatchCharLength: 1
        }
      });
    }

    // Handle the onchange event of both the CKEditor and editable format div
    function change() {
      var editedContentField = document.getElementById('editedContent');
      var iFrame = document.getElementById('target');
      var iFrameBody;

      if (iFrame.contentDocument) {
        iFrameBody = iFrame.contentDocument.getElementsByTagName('body')[0];
      } else if (iFrame.contentWindow) {
        iFrameBody = iFrame.contentWindow.document.getElementsByTagName('body')[0];
      }
      // Get the content from CKEditor
      var editorContent = CKEDITOR.instances.editor.getData();

      // Update the content of the iframe
      iFrameBody.innerHTML = editorContent;
      editedContentField.value = editorContent;
    }

    function showTemplate(){
      var selected_template = rlo_template_choices.getValue();
      var xhr = new XMLHttpRequest();
      if (selected_template){
        xhr.open('GET', '/work_planning/RLO/get_template_content/?template_id=' + selected_template.value, true);
        xhr.onload = function () {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            var templateContent = response.template_content;
            
            var editorContainer = document.getElementById('editor');
            var editableHeader = document.getElementById('editableHeader');
            var previewHeader = document.getElementById('previewHeader');

            editorContainer.style.display = "block";
            editableHeader.style.display = "block";
            previewHeader.style.display = "block";

            // Initialize CKEditor
            CKEDITOR.replace('editor', {
              // Add any CKEditor configurations as needed
              toolbar: 'basic',
              height: 500,
              iconSize: 'small',  // Set the icon size to 'small'
            }).on('change', function () {
              change();
            });
            // Set the value of the CKEditor instance
            CKEDITOR.instances.editor.setData(templateContent);

            // Trigger the change event to update the iframe
            change();
          } else {
            console.log('Error fetching template content.');
          }
        };
        xhr.send();
      }
    }

    showTemplate();

    // Get the button element
    var submitButton = document.getElementById('addRLOButton');

    // Add a click event listener to the button
    submitButton.addEventListener('click', function () {
      var addRLOForm = document.getElementById('addRLOForm');
      // Submit the form
      addRLOForm.submit();
    });
  });
</script>
{% endblock %}