<form class="row justify-content-start justify-content-lg-end w-100" method="get" autocomplete="off" id="searchForm">
    <div class="col-12 text-start text-md-end align-self-center">
        <div class="p-0 d-flex">
            <input class="form-control me-2" id="searchbar" name="q" type="text" 
            placeholder="Search{% if search_fields %} by {% for field in search_fields %}{{field|title}}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}...{% endif %}", 
            value="{{search_value}}" aria-label="search-input" aira-autocomplete="off">
            <button type="submit" class="btn bg-gradient-secondary btn-sm mb-0 px-4 me-2"><i
                class="fas fa-search d-lg-none" style="font-size: 0.7rem"></i> <span class="d-none d-lg-block">Search</span></button>
            <button type="submit" class="btn bg-gradient-secondary btn-sm mb-0 px-4" id="clearButton"><i
                class="fas fa-times d-lg-none" style="font-size: 0.7rem"></i> <span class="d-none d-lg-block">Clear</span></button>
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchForm = document.getElementById('searchForm');
        const searchbar = document.getElementById('searchbar');
        const clearButton = document.getElementById('clearButton');
    
        clearButton.addEventListener('click', function() {
            searchbar.value = ''; // Clear the input field
            searchForm.setAttribute('action', ''); // Remove any action URL
            searchForm.submit(); // Submit the form
        });
    })
</script>