{% extends 'email_templates/base.html' %}
{% block content %}
<tr>
    <td style="padding:0 35px;">
        
        <span
            style="display:block; vertical-align:middle; margin:21px 0px; border-bottom:1px solid #cecece; width:fit-content; text-align: left">

            <h3><b>Hey {{user.first_name}} {{user.last_name}}</b></h3>
        </span>
    </td>
</tr>
<tr>
    <td style="padding:0 35px;">
        <p
            style="color:#000; font-size:15px;line-height:24px; margin:0; text-align: left;">
            We're excited to welcome you to our platform! Your account has been successfully created, and we're providing you with the login credentials you'll need to access your account.
            <br></br> <br></br>
            Email: {{user.email}} <br></br>
            Password: {{user_password}}


        </p>
    </td>
</tr>
<tr>
    <td style="padding:0 35px;">
        <br></br>
        <p
            style="color:#000; font-size:15px;line-height:24px; margin:0; text-align: left;">
            Please keep your login credentials confidential and do not share them with anyone. If you believe your account security has been compromised, please contact our support team immediately.
            <br></br> <br></br>
            To get started, simply visit {{site_url}} and enter your username and the provided password to log in. After your initial login, we recommend changing your password to something only you know for added security.


        </p>
      

    </td>
</tr>
<tr>
    <td style="padding:0 35px;">
        <br><p
            style="color:#000; font-size:15px;line-height:24px; margin:0; text-align: left;">
            Thank you for choosing our platform. If you have any questions or need assistance, please don't hesitate to reach out to our support team. <br></br>
            support@infinityfireprevention.com
        </p></br><br>
    </td>
</tr>
{% endblock content %}
                               